@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700);/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
audio:not([controls]) {
  display: none;
}

button {
  overflow: visible;
  -webkit-appearance: button;
}

details {
  display: block;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

input {
  -webkit-border-radius: 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #FBFBFB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: default;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

nav ol,
nav ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  color: #ffffff;
  text-shadow: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/**
***  Raw text and naked tag styles
**/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FBFBFB;
}

* {
  outline: none;
}

form {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

ul,
ol {
  margin: 0;
}

a {
  color: inherit;
}

pre {
  background-color: #ccc;
  margin: 0 10px;
  display: inline-block;
}

pre code {
  float: left;
  padding: 20px;
}

button:focus, button:active {
  outline: none;
}

nav ul,
footer ul {
  margin: 0;
  list-style: none;
}

blockquote {
  border-left: 4px solid #89C967;
  padding: 20px;
  margin-bottom: 20px;
}

pre {
  background-color: transparent;
}

code {
  background: #E9EAEE;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 1px;
  font-weight: 500;
  color: #0d2b3e;
  font-family: Source Code Pro,monospace;
}

.su-container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  z-index: 200;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .su-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1079px) {
  .su-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.su-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .su-row {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.su-row.-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.su-row.-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.su-row.-full {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.su-row-columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.su-col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 16.66666667%;
  max-width: 16.66666667%;
}

@media (min-width: 768px) {
  .su-col-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 33.33333333%;
  max-width: 33.33333333%;
}

@media (min-width: 768px) {
  .su-col-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 50%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .su-col-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 66.66666667%;
  max-width: 66.66666667%;
}

@media (min-width: 768px) {
  .su-col-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 83.33333333%;
  max-width: 83.33333333%;
}

@media (min-width: 768px) {
  .su-col-5 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .su-col-6 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-span-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 16.66666667%;
  max-width: 16.66666667%;
}

.su-span-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 33.33333333%;
  max-width: 33.33333333%;
}

.su-span-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 50%;
  max-width: 50%;
}

.su-span-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 66.66666667%;
  max-width: 66.66666667%;
}

.su-span-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 83.33333333%;
  max-width: 83.33333333%;
}

.su-span-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
}

.su-offset-1 {
  margin-left: 16.66666667%;
}

.su-offset-2 {
  margin-left: 33.33333333%;
}

.su-offset-3 {
  margin-left: 50%;
}

.su-offset-4 {
  margin-left: 66.66666667%;
}

.su-offset-5 {
  margin-left: 83.33333333%;
}

.su-offset-6 {
  margin-left: 100%;
}

.su-spacer-1 {
  margin-right: 16.66666667%;
}

.su-spacer-2 {
  margin-right: 33.33333333%;
}

.su-spacer-3 {
  margin-right: 50%;
}

.su-spacer-4 {
  margin-right: 66.66666667%;
}

.su-spacer-5 {
  margin-right: 83.33333333%;
}

.su-spacer-6 {
  margin-right: 100%;
}

/**
***  Text overrides, and media queries
***  Some minor layout updates
**/
.article {
  background-color: #FFFFFF;
  border-left: 2px solid #EAEAEA;
}
@media (min-width: 768px) {
  main.main article.article {
    min-height: 90vh;
  }
}

.article h1 {
  padding-top: 115px;
}

.article .wrapper {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 768px) {
  .article .wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.article .data > .data {
  margin: 1.5em 0;
}

.article table th {
  background-color: #2C3458;
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #FFFFFF;
}

.article ul,
.article ol {
  padding-left: 25px;
  margin-bottom: 15px;
}

.article ul li,
.article ol li {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #5F6065;
  padding: 0 0 0 10px;
}

.article ul a,
.article ol a {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #5F6065;
  text-decoration: underline;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.article ul a:hover,
.article ol a:hover {
  color: #46474b;
}

.article hr {
  width: 100% !important;
  margin: 10px 0 35px 0;
  border-bottom: 2px solid #D5D6DE;
}

.article a {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #5F6065;
  text-decoration: underline;
  border-bottom: 0;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.article a:hover {
  color: #46474b;
}

.article h1,
.drawer h1 {
  font-family: 'Work Sans';
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.75;
  font-size: 32px;
  color: #2C3458;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .article h1,
  .drawer h1 {
    font-size: calc(3.125vw + 14px);
  }
}

@media (min-width: 768px) {
  .article h1,
  .drawer h1 {
    font-size: 38px;
  }
}

.article h2,
.drawer h2 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 27px;
  line-height: 1.16;
  color: #2C3458;
  margin-bottom: 15px;
}

.article h3,
.drawer h3 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: -0.6;
  color: #2C3458;
  margin-bottom: 15px;
}

.article h4,
.drawer h4 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.5;
  color: #2C3458;
  margin-bottom: 15px;
}

.article h5,
.drawer h5 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #2C3458;
  margin-bottom: 15px;
}

.article h6,
.drawer h6 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
  margin-bottom: 15px;
}

.article p,
.drawer p {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #5F6065;
  margin-bottom: 25px;
}

.article p a,
.drawer p a {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #5F6065;
  text-decoration: underline;
  border-bottom: 0;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.article p a:hover,
.drawer p a:hover {
  color: #46474b;
}

.article p code,
.drawer p code {
  background-color: #F1F2F6;
}

.article code,
.drawer code {
  font-size: 14px;
  color: #2C3458;
}

.article pre,
.drawer pre {
  margin: 0 0 35px 0;
  padding: 0;
  border-radius: 2px;
  display: block;
  background-color: #F1F2F6;
}

.article li > div > pre,
.drawer li > div > pre {
  margin: 10px 0 15px 0;
}

.article pre code,
.drawer pre code {
  background: none !important;
}

.drawer {
  padding-top: 105px;
}

.drawer ul {
  list-style: none;
  padding-left: 0;
}

.drawer ul li {
  padding: 0;
}

.drawer-title img {
  width: 50px;
  height: auto;
  margin-bottom: 25px;
  display: block;
}

@media (min-width: 970px) {
  .drawer-title img {
    display: none;
  }
}

.drawer .toc {
  margin: 0;
}

.drawer .toc-menu {
  border-bottom: 1px solid #D5D6DE;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.drawer .toc-menu-container {
  margin: 0;
}

.drawer .toc li {
  padding: 5px 0;
  position: relative;
}

.drawer .toc li > a {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
  text-decoration: none;
  padding: 0;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.drawer .toc li > a:hover, .drawer .toc li > a:focus {
  color: #1b2036;
}

.drawer .toc li > a.current {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #89C967;
}

.drawer .toc li .-angle-down {
  position: absolute;
  top: 3px;
  margin-left: 5px;
  border-width: 6px 5px 0 5px;
  border-color: #2C3458 transparent transparent transparent;
}

.drawer .toc li .toc-hide {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9), -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.drawer .toc li .toc-show {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9), -webkit-transform 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.drawer .toc li > ul[visible="false"] {
  display: none;
}

.drawer .toc li ul {
  margin: 0;
}

.drawer .toc li .panel {
  padding-left: 10px;
}

.drawer .toc li .panel > li {
  padding: 5px 0;
}

.drawer .toc li .panel > li a {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
  padding: 0;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.drawer .toc li .panel > li a.current {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #89C967;
}

.drawer .toc li li + ul > li {
  padding: 5px 0;
  position: relative;
}

.drawer .toc li li + ul > li > a {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
  text-decoration: none;
  padding: 0;
  -webkit-transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.drawer .toc li li + ul > li > a:hover, .drawer .toc li li + ul > li > a:focus {
  color: #1b2036;
}

.drawer .toc li li + ul > li > a.current {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #89C967;
}

.toc .feedback {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 13px;
  color: #2C3458;
}

.drawer .toc a:hover {
    color: #414868;
}

/**
***  Sidebar Nav override, and media queries
**/
.header {
  background: #FFFFFF;
}

.header .stretch .title {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #2C3458;
}

.header #productButton,
.header #versionButton,
.header #platformButton,
.header #productButtonDrawer,
.header #versionButtonDrawer {
  border-radius: 2px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #2C3458;
  background-color: #FFFFFF;
  border: 1px solid #2C3458;
}

.header .button .icon {
  color: #2C3458;
}

.header .bar.search .query {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #2C3458;
}

/**
***  Header override
**/
.js .header {
  width: 100%;
}

/**
***  Drawer overrides, and media queries
**/
.drawer {
  width: 70vw;
  padding-top: 15px;
}

@media (max-width: 959px) {
  .drawer {
    -webkit-transform: translate3d(-70vw, 0, 0);
            transform: translate3d(-70vw, 0, 0);
  }
}

@media (min-width: 950px) {
  .drawer {
    padding-top: 105px;
    margin-left: 0;
    padding-left: 0;
    width: 262px;
  }
}

@media (min-width: 1300px) {
  .drawer {
    width: 300px;
    margin-left: -40px;
  }
}

.drawer .scrollable {
  top: 0;
  padding-top: 10px;
  position: relative;
  padding-bottom: 100px;
}

@media (min-width: 960px) {
  .drawer .scrollable {
    min-height: 455px;
    padding-bottom: 200px;
  }
}

.project {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#productVersionDrawerHolder {
  margin-top: 0;
  height: auto;
}

@media (min-width: 959px) {
  #productVersionDrawerHolder {
    height: 0;
  }
}

#productButton,
#versionButton,
#platformButton,
#productButtonDrawer,
#versionButtonDrawer {
  border-radius: 2px;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #2C3458;
  background-color: #FFFFFF;
  border: 1px solid #2C3458;
}

#productButtonDrawer {
  width: 95%;
  margin: 0 0 10px 10px;
}

@media (min-width: 600px) {
  #productButtonDrawer {
    width: 70%;
  }
}

#versionButtonDrawer {
  width: 95%;
  margin: 40px 0 30px 10px;
}

@media (min-width: 600px) {
  #versionButtonDrawer {
    width: 50%;
  }
}

#specialDivider {
  margin-top: 90px;
}

.toc {
  padding: 0 0 20px 0;
}

/**
***  FAQ overrides
**/
.article blockquote {
  border-left: 5px solid #89C967;
  padding: 8px 0 8px 15px;
}

.article blockquote p {
  margin: 0;
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #2C3458;
}

/**
***  Homepage overrides, and media queries
**/
.product-holder {
  text-align: left;
  opacity: 1;
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.product-holder:hover {
  opacity: 0.8;
}

a {
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.homepage-product {
  top: 0;
  -webkit-transform: none;
          transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .homepage-product {
    padding: 50px 20px 20px 20px;
    width: 80%;
  }
}

.homepage-product span {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.product-title {
  font-family: 'Work Sans';
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.75;
  font-size: 32px;
  color: #FFFFFF;
}

@media (min-width: 576px) {
  .product-title {
    font-size: calc(3.125vw + 14px);
  }
}

@media (min-width: 768px) {
  .product-title {
    font-size: 38px;
  }
}

.description {
  font-family: 'Work Sans';
  font-weight: 400;
  line-height: 1.25;
  font-size: 18px;
  color: #FFFFFF;
}

@media (min-width: 576px) {
  .description {
    font-size: calc(1.04166667vw + 12px);
  }
}

@media (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

.footer {
  background: #FFFFFF;
  position: relative;
  padding: 0;
}

.su-footer {
  background: #FFFFFF;
  border-top: 1px solid rgba(44, 52, 88, 0.25);
  margin-top: 30px;
  padding-top: 60px;
  position: relative;
  z-index: 200;
}

.su-footer:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 20px;
  top: -1px;
  background-color: #FFFFFF;
  left: 50%;
  z-index: 0;
}

.su-footer ul {
  padding: 0;
}

.su-footer ul li {
  padding: 0;
}

.su-footer ul li:before {
  content: "";
}

.su-footer-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .su-footer-info {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .su-footer-left {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-left h3 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #2C3458;
  margin: 0 0 24px 0;
}

.su-footer-left p {
  margin-bottom: 30px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #2C3458;
}

@media (min-width: 992px) {
  .su-footer-left p {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .su-footer-left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 50%;
    max-width: 50%;
    padding: 0;
  }
}

@media (min-width: 992px) and (min-width: 768px) {
  .su-footer-left {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-left-bottom .-bottom-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .su-footer-left-bottom .-bottom-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .su-footer-left-bottom .-bottom-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 33.33333333%;
    max-width: 33.33333333%;
  }
}

@media (min-width: 992px) and (min-width: 768px) {
  .su-footer-left-bottom .-bottom-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-left-bottom .-bottom-nav ul li {
  margin: 0 0 10px 0;
}

.su-footer-left-bottom .-bottom-nav ul li a {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #2C3458;
  -webkit-transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  text-decoration: none;
}

.su-footer-left-bottom .-bottom-nav ul li a:hover {
  opacity: 0.8;
}

.su-footer-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px;
  padding-left: 5px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .su-footer-right {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-right h3 {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #2C3458;
  margin: 0 0 14px 0;
}

.su-footer-right p {
  margin-bottom: 15px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #2C3458;
}

.su-footer-right-social li {
  display: inline-block;
  margin: 0 26px 0 0;
}

.su-footer-right-social li img {
  max-width: 24px;
}

@media (min-width: 992px) {
  .su-footer-right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-right: 5px;
    padding-left: 5px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 33.33333333%;
    max-width: 33.33333333%;
    margin-left: 16.66666667%;
  }
}

@media (min-width: 992px) and (min-width: 768px) {
  .su-footer-right {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.su-footer-right-info {
  margin-top: 63px;
}

@media (min-width: 992px) {
  .su-footer-right-info {
    margin-top: 65px;
  }
}

.su-footer-right-info h3 {
  margin-bottom: 24px;
}

.su-footer-bottom {
  text-align: center;
  padding: 16px 0 11px;
  border-top: 1px solid rgba(44, 52, 88, 0.25);
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #2C3458;
}

.su-footer-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .su-footer-input-group {
    margin-bottom: 0;
  }
}

.su-footer-input-group .su-button {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #FFFFFF;
  background-color: #2C3458;
  border: 1px solid #5F6065;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  width: 110px;
  margin-left: -110px;
  border-radius: 0.1875rem;
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: background-color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.su-footer-input-group .su-button:hover {
  background-color: #1b2036;
}

.su-footer-input-group .su-input {
  width: inherit;
  padding: 15px 110px 15px 10px;
  background: #FFFFFF;
  border: 1px solid #5F6065;
  border-radius: 3px;
  height: 55px;
  border-color: #5F6065;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.25rem;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input:focus, .su-footer-input-group .su-input:active {
  -webkit-box-shadow: 0 0 3px #2C3458;
          box-shadow: 0 0 3px #2C3458;
}

.su-footer-input-group .su-input::-webkit-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input:-ms-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input::-ms-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input::placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer .footer-symbol {
  left: 50%;
  max-width: 20px;
  position: absolute;
  top: -10px;
}

.su-footer-input-group {
  display: block;
  width: 100%;
  right: 0px;
}

.su-footer-input-group .su-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 33.33333333%;
  max-width: 33.33333333%;
  padding: 17px 0;
  margin-left: -25px;
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
  line-height: initial;
  background-color: #2C3458;
  border: 1px solid #5F6065;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
}

.su-footer-input-group .su-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #1b2036;
}

.su-footer-input-group .su-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 83.33333333%;
  max-width: 83.33333333%;
  padding: 17px 20px 17px 12px;
  background: #FFFFFF;
  border: 1px solid #5F6065;
  border-radius: 3px;
}

.su-footer-input-group .su-input::-webkit-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input:-ms-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input::-ms-input-placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group .su-input::placeholder {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #2C3458;
}

.su-footer-input-group:focus, .su-footer-input-group:active {
  -webkit-box-shadow: 0 0 3px #2C3458;
          box-shadow: 0 0 3px #2C3458;
}

img[alt=ssl_example] {
  width: 50%;
  border: none;
  background: none;
}

