:root {
--color-1: #81C000;
--color-2: #76AF01;
--color-3: #689A01;
--color-4: #578002;
}

.palette-primary-green .footer, .palette-primary-green .header {
    background: white;
    color: #81C000;
}

#home-title {
    font-weight: bold;
}

.homepage-main {
    background-color: white;
    margin-top: 51px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.product-block {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.product-holder {
    height: 50%;
    width: 50%;
    margin: -1px;
    display: inline-block;
    position: relative;
    background: green;
    text-align: center;
}

div.product-holder:hover {
    background-image: url(/images/cubes.png) !important;
    opacity: 0.9 !important;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}

.homepage-product {
    display: block;
    position: absolute;
    font-size: 36px;
    color: white;
    width: 100%;
    top: 40%;
}

.product-title {
    font-weight: bold;    
}

.description {
    padding-top: 10px;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
}

#product-1 {
    background: var(--color-1);
}

#product-2 {
    background: var(--color-2);
}

#product-3 {
    background: var(--color-3);
}

#product-4 {
    background: var(--color-4);
}
