:root {
--color-1: #244073;/* #A2CD4B; /* sensu core*/
--color-1-hover: #072D71;/*#81C000;*/

--color-2: #448E2D;/*#A2CD4B;/*#CD5555; /* sensu enterprise */
--color-2-hover: #2C6E18;/*#81C000;/*#D52020;*/

--color-3: #502665;/*#835F95; /* sensu enterprise dashboard */
--color-3-hover: #450765;/*#6F2493;*/

--color-4: #5380D1; /* uchiwa */
--color-4-hover: #5F97FB;

--color-5: #66B350;/* #E1A84E; /* plugins */
--color-5-hover:#43AE24; /*#ED9908;*/

--color-6: #7B4496;/*#E87FB8; /* extensions */
--color-6-hover: #6F2493;/*#EB51A4; */
}

.header, .overlay {
    position: absolute;
    display: block;
}

.palette-primary-green .footer, .palette-primary-green .header {
    background: #f6f6f6;
    color: gray;/*#81C000*/;
}

#home-title {
    font-weight: bold;
}

.homepage-main {
    background-color: white;
    padding-top: 64px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.product-block {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.product-holder {
    float:left;
    height: 50%;
    width: 33.3333%;
    display: inline-block;
    margin: 0 !important;
    position: relative;
    background: green;
    text-align: center;
    opacity: 1;
    transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}

.homepage-product {
    display: block;
    position: absolute;
    width: 100%;
    top: 38%;
}

.product-title {
    font-size: 30px;
    color: #fff;
    font-weight: bold;    
}

.description {
    padding-top: 10px;
    color: #f4f4f4;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
}

#product-1 {
    background: var(--color-1);
}

div#product-1:hover {
    background-image: url(/images/random-grey-variations.png) !important;
    background-color: var(--color-1-hover);
    opacity: 0.9;
}

#product-2 {
    background: var(--color-2);
}

div#product-2:hover {
    background-image: url(/images/subtle-zebra-3d.png) !important;
    background-color: var(--color-2-hover);
    opacity: 0.9;
}

#product-3 {
    background: var(--color-3);
}

div#product-3:hover {
    background-image: url(/images/black-thread-light.png) !important;
    background-color: var(--color-3-hover);
    opacity: 0.9;
}

#product-4 {
    background: var(--color-4);
}

div#product-4:hover {
    background-image: url(/images/swirl.png) !important;
    background-color: var(--color-4-hover);
    opacity: 0.9;
}

#product-5 {
    background: var(--color-5);
}

div#product-5:hover {
    background-image: url(/images/white-diamond.png) !important;
    background-color: var(--color-5-hover);
    opacity: 0.9;
}

#product-6 {
    background: var(--color-6);
}

div#product-6:hover {
    background-image: url(/images/cubes.png) !important;
    background-color: var(--color-6-hover);
    opacity: 0.9;
}

