/* overriding theme palette */
.palette-primary-green {
    background: #81C000
}

.palette-primary-green .footer,.palette-primary-green .header {
    background: #81C000
}

.palette-primary-green .drawer .toc a.current,.palette-primary-green .drawer .toc a:focus,.palette-primary-green .drawer .toc a:hover {
    color: #81C000
}

.palette-primary-green .drawer .anchor a {
    border-left: 2px solid #81C000
}

.ios.standalone .palette-primary-green .article {
    background: -webkit-linear-gradient(top,#fff 50%,#81C000 0);
    background: linear-gradient(180deg,#fff 50%,#81C000 0);
}

.palette-primary-green .article a,.palette-primary-green .article code,.palette-primary-green .article h1,.palette-primary-green .article h2 {
    color: #81C000
}

.palette-primary-green .article .headerlink {
    color: rgba(0,0,0,.26)
}

.palette-primary-green .article table th {
    background: #5cb45b
}

.palette-primary-green .results .meta {
    background: #81C000
}

.palette-accent-green .article a:focus,.palette-accent-green .article a:hover {
    color: #618B25;
}

.palette-accent-green .repo a {
    background: #618B25;
}

/* Banner tweak */
.header .stretch .title {
    font-size: 30px;
    padding-top: 5px;
}

.project .banner {
    padding: 15px 20px;
}

/* Sidebar stuff */
.name strong {
    font-size: 16px;
}

.drawer {
    font-size: 14px;
}

.project .logo {
    width: 80px;
    height: 80px;
    padding-right: 0;
}

.project .logo img {
    border-radius: 3px;
    margin: 0 auto;
}

.repo {
    margin-top: 10px;
}

/* Content overrides */
.article h1 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 30px;;
}

@media only screen and (min-width: 720px) {
    .article .wrapper {
        padding-top: 95px;
    }
}

/* Version and product buttons */
.buttonHolder {
    padding-top: 17px;
}

#productButton, #versionButton {
    display: inline-block;
    padding: 20px;
    margin-left: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}

#productButton a, #versionButton a {
  color: rgba(0,0,0,.87);
  border-bottom: none;
}

#productButton {
    background-color: #E5E5E5;
    width: 250px;
}

#versionButton {
    background-color: #E5E5E5;
    margin-left: 15px;
    width: 120px;
}

.dropdownArrow {
  float: right;
  font-size: 20px;
  padding-top: 3px;
}

.hiddenProducts {
    position: absolute;
    font-weight: normal;
    z-index: 100;
    background-color: #E5E5E5;
    list-style: none !important;
    margin-left: -89px;
    margin-top: 25px;
    width: 250px;
}

.hiddenVersions {
    position: absolute;
    z-index: 100;
    background-color: #E5E5E5;
    list-style: none !important;
    padding-top: 5px;
    width: 120px;
    margin-top: 19px;
    margin-left: -79px;
    font-weight: normal;
}

.hiddenItems {
    margin-top: 0 !important;
    border-radius: 3px;
    padding-bottom: 20px;
}

.hiddenItem:before {
    content: none !important;
}
