/* Theme Palette Overrides ----------------------------------------------------------------- */

.project .logo img {
  background: none !important;
  margin-bottom: 20px;
  width: unset;
  height: 80px;
  padding-left: 5px;
  border-radius: 0;
}

.project:hover .logo img {
  box-shadow: none;
}

.project:hover {
  -webkit-transition: color .25s;
  transition: color .25s;
  color: #89C967;
}

.palette-primary-green {
  background: rgb(242, 242, 242);
}

.palette-primary-green .footer,.palette-primary-green .header {
  background: #383838;
  color: #BBBBBB;
}

.palette-primary-green .drawer .toc a.current,.palette-primary-green .drawer .toc a:focus,.palette-primary-green .drawer .toc a:hover {
  color: #89C967;
}

.palette-primary-green .drawer .anchor a {
  border-left: 2px solid #89C967;
}

.ios.standalone .palette-primary-green .article {
  background: -webkit-linear-gradient(top,#fff 50%,#89C967 0);
  background: linear-gradient(180deg,#fff 50%,#89C967 0);
}

.palette-primary-green .article a,.palette-primary-green .article h1,.palette-primary-green .article h2 {
  color: #89C967;
}

.palette-primary-green .article .headerlink {
  color: rgba(0,0,0,.26);
}

.palette-primary-green .article table th {
  background: #89C967;
  font-size: 20px;
  font-weight: 200;
  height: 0;
  width: 1000%;
}

.palette-primary-green .results .meta {
  background: #89C967;
}

.palette-accent-green .article a:focus,.palette-accent-green .article a:hover {
  color: #618B25;
}

.palette-accent-green .repo a {
  background: #618B25;
}

p code, li code, td code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: #000080 !important;
}

.article pre {
  margin-top: 30px;
  margin-bottom: 20px;
}

.main {
  margin-top: 0;
}

.main article {
  padding-bottom: 100px;
}

.footer {
  padding-bottom: 20px;
  color: #eee;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
}

.footer h2, .footer .next, .footer .previous {
  display: inline;
}

.footer i {
  color: #eee;
}

.footer-next, .footer-previous {
  padding: 20px 20px 10px;
}

.footer-next {
  float: right;
}

.footer-previous {
  float: left;
}

.copyright {
  clear: both;
  padding: 0 20px;
  margin-bottom: 0;
  color: #eee;
}

/* General Site Wide Components ----------------------------------------------------------------- */
.note {
  margin: 10px 0;
  padding: 10px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.warning {
  margin: 10px 0;
  padding: 10px;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.pro-tip {
  margin: 10px 0;
  padding: 10px;
  background-color: #dff0d8;
 color: #3c763d;
 border: 1px solid #d6e9c6
}

.article h2 {
  margin-top: -70px;
  font-size: 30px;
}

table .note, table .warning, table .pro-tip {
  margin-top: 10px;
}

.article table ul {
  margin-top: 0;
}

.article table ul li {
  margin-top: 0;
}

h5 {
  font-size: 16px;
  font-style: italic;
  padding-top: 30px;
}

pre {
  background-color: #333;
}

table td {
  font-size: 16px;
}

table tr td:first-child {
  width: 25%;
}

table pre {
  max-width: 720px;
}

.article .data table {
  width: 95%;
  display: inline-table;
}

.article .data {
  padding: 0;
  overflow: visible;
}

thead, tbody {
  width: 100%;
}

.article {
  font-size: 16px;
}

.article h3 {
  font-size: 27px;
  font-weight: 200;
}

.article h4 {
  margin-top: -60px;
  color: #232323;
  font-style: none;
  font-size: 22px;
  margin-bottom: -10px;
}

h6 {
  font-size: 16px; 
  font-weight: bold;
}

#logo {
  color: #2C3458;
  display: block;
  -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
  font: 600 24px/1.16 'Work Sans';
  min-width: 172px;
  padding: 0 16px 0 0;
  text-decoration: none;
}

#navbar {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  height: 100%;
  max-width: none;
  position: relative;
}

#product-picker {
  -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
}

#product-picker a {
  color: rgb(90, 90, 90);
  display: block;
  font: 400 14px/1.4 'Work Sans';
  padding: 10px;
}

#product-picker .dropdown {
  display: block;
  margin: 8px 0;
  position: relative;
  z-index: 1;
}

#product-picker .dropdown--products {
  z-index: 2;
}

#product-picker .dropdown > a {
  background-color: white;
  border: 1px solid #2C3458;
  border-radius: 2px;
  color: #2C3458;
  font-weight: 500;
}

#product-picker .options {
  background-color: #e7e7e7;
  border: 1px solid #2C3458;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  display: none;
  position: absolute;
  width: 100%;
}

#product-picker .options a:hover {
  background-color: #dbdbdb;
}

#product-picker .open > a {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#product-picker .open .options {
  display: block;
}

.header {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  overflow: visible;
  padding: 0;
}

a .project {
  text-align: center;
}

.banner .name strong {
  font-size: 22px;
}

.project .banner {
  padding: 20px 0 0;
}

.button .icon {
  margin: 7px 10px;
  padding: 0;
}

.button.button-close {
  padding-top: 11px;
}

.button .icon {
  font-size: 28px;
}

.button.button-menu {
  display: block;
  width: auto;
}

/* Sidebar Stuff ----------------------------------------------------------------- */

.project .banner {
  margin-bottom: -20px;
}

.project .logo+.name {
  padding-left: 15px;
}

.name strong {
  font-size: 28px;
}

.drawer {
  overflow: auto;
  height: 100%;
  padding: 15px 15px 80px 15px;
  position: fixed;
}

.drawer #product-picker {
  border-bottom: 1px solid #D5D6DE;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

#product-picker {
  display: none;
}

@media (min-width: 960px) {
  .algolia-autocomplete {
    height: 100%;
  }

  #navbar .algolia-autocomplete::before {
    line-height: 4;
  }

  #navbar .algolia-search {
    border-bottom: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
    padding: 0 12px 0 44px;
  }

  .button.button-menu {
    display: none
  }

  #logo {
    -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
    padding-left: 16px;
    min-width: none;
  }

  .drawer {
    padding-top: 125px;
  }

  .drawer .algolia-autocomplete {
    display: none !important;
  }

  .drawer #product-picker {
    display: none;
  }

  #product-picker {
    display: block;
  }

  #product-picker .dropdown {
    display: inline-block;
    margin: 0 4px;
  }

  .dropdown--products {
    min-width: 260px;
  }

  .dropdown--versions {
    min-width: 100px;
  }
}

@media (min-width: 1282px) {
  .drawer {
    margin-left: -40px;
    width: 300px;
  }
}

.algolia-search {
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #2C3458;
  display: block;
  font: 400 14px/1.4 'Work Sans';
  height: 100%;
  padding: 12px 10px 12px 44px;
  width: 100%;
}

.algolia-search:active,
.algolia-search:focus {
  background-color: #f7f7f7;
}

.drawer .algolia-autocomplete {
  margin-bottom: 12px;
  width: 100%;
}

.algolia-autocomplete::before {
  color: #999;
  content: '\f002';
  display: block;
  font: 400 16px/2.625 'FontAwesome';
  position: absolute;
  left: 16px;
  top: 0;
  z-index: 2;
}

.drawer .algolia-autocomplete .ds-dropdown-menu {
  max-width: 320px;
  min-width: 270px;
}

.drawer .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
  left: -20px!important;
}

#navbar .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  left: auto !important;
  right: 50px !important;
}

.drawer .toc li a.menu-title {
    cursor: pointer;
}

button.accordion {
    cursor: pointer;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

.drawer .toc li ul .panel {
    display: none;
}

.menu-dropdown-icon {
  margin-left: 10px;
  font-weight: 100;
}

/* General Content Overrides ----------------------------------------------------------------- */

.article h1 {
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 0px !important;
  border-bottom: none;
}

.ios .scrollable .wrapper {
  margin-bottom: 0;
}

@media only screen and (min-width: 720px) {
  .article .wrapper {
    padding-top: 50px;
  }
}

/* Dropdown Stuff ----------------------------------------------------------------- */

.platformHolder {
  height: 50px;
  padding-top: 5px;
}

#versionButton, #platformButton, #productButtonDrawer, #versionButtonDrawer {
  cursor: pointer;
  position: absolute;
  margin-left: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e7e7e7;
}

#versionButton a, #platformButton a, #productButtonDrawer a, #versionButtonDrawer a {
  color: rgb(90, 90, 90);
  border-bottom: none;
  padding: 10px;
}

#productButtonDrawer {
  width: 260px;
}

#versionButton, #versionButtonDrawer {
  width: 100px;
  margin-left: 270px;
}

#platformButton {
  width: 200px;
}

#platformButton a {
  display: block;
}

#platformButton li {
  margin-top: 0;
}

.dropdownArrow {
  float: right;
  font-size: 20px;
}

.platformButtonTitle .dropdownArrow, .platformButtonTitleDrawer .dropdownArrow {
  padding-top: 1px;
}

.hiddenProducts, .hiddenVersions, .hiddenPlatforms, .hiddenProductsDrawer, .hiddenVersionsDrawer {
  font-weight: normal;
  z-index: 100;
  background-color: #e7e7e7;
}

.hiddenItems {
  margin-top: 0 !important;
  border-radius: 3px;
}

.hiddenItem {
  margin-left: 0 !important;
}

.hiddenItem:before {
  content: none !important;
}

.hiddenItem:hover {
  background-color: #dbdbdb; 
}

/* Alerts ----------------------------------------------------------------- */

#alertSection {
  z-index: -1;
  position: fixed;
  top: 64px;
  width: 100%;
}

.alertBanner {
  background-color: #cc7d7c;
  box-shadow: 0 3px 8px rgba(0,0,0,.05);
  width: 100%;
  right: 0;
  padding: 5px;
  text-align: center;
}

.alertBanner a, .alertBanner span {
  color: #dedede;
}

.alertBanner a:hover {
  color: #ffffff;
}

.alertBannerText {
  font-size: 14px;
}

.closeAlert {
  float: right;
  margin-right: 20px;
  font-size: 16px;
}

/* Non-Homepage Index Buttons ----------------------------------------------------------------- */

.landingButtonHolder {
  text-align: center;
  margin-top: 20px;
}

.landingButton {
  border: 1px solid #89C967;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.landingButton a {
  font-size: 20px;
  display: block;
  margin-top: 35px;
  border-bottom: none;
}

/* Media Queries ----------------------------------------------------------------- */
@media only screen and (max-width: 1254px) {
  .banner .name strong {
    font-size: 16px;
  }
}

@media only screen and (max-width: 970px) {
  article .wrapper {
    padding-top: 0;
  }

  .results .scrollable {
    margin-top: -8px;
  }

  .results {
    top: 57px;
  }

  .toggle-button .icon {
    font-size: 24px;
    margin-top: -2px;
  }

  .homepage-main {
    padding-top: 50px !important;
  }

  .field {
    padding-top: 2px;
  }

  #productButtonDrawer {
    margin: 0 20px;
    width: 200px;
    font-size: 14px;
  }

  #versionButtonDrawer {
    margin: 30px 10px 0 20px;
    font-size: 14px;
  }

  #productButtonDrawer .hiddenItem a, #versionButtonDrawer .hiddenItem a {
    display: block;
  }

  .productButtonTitleDrawer, .versionButtonTitleDrawer {
    display: block;
  }

  .productButtonTitleDrawer a, .versionButtonTitleDrawer a {
    padding: 10px;
    display: block;
  }

  .hiddenProductsDrawer, .hiddenversionsDrawer {
    position: relative;
  }

  #specialDivider {
    margin-top: 80px;
  }

  #results.query.resultsList li {
    padding: 10px 25px;
  }

  .product-holder {
    height: 200px;
  }

  #results.query.resultsList {
    top: 50px;
  }

  #alertSection {
    top: 55px;
  }
}

@media only screen and (max-width: 959px) {
  #navbar .algolia-autocomplete {
    display: none !important;
  }

  .article .wrapper {
    padding-top: 30px;
  }

  .results {
    top: unset;
  }

  .results {
    top: 0px;
  }

  #navbar .algolia-autocomplete .ds-dropdown-menu {
    max-width: 500px;
    min-width: 400px;
  }

  .project {
    padding-bottom: 20px;
    padding-left: 10px;
  }

  .toc {
    padding-left: 10px;
    padding-top: 70px;
  }

  .palette-primary-green .project {
    background-color: rgb(56, 56, 56);
  }
}

@media only screen and (max-width: 775px) {
  .button.button-close {
    padding-top: 0;
  }

  .results .scrollable {
    top: 50px;
    margin-top: 0;
  }

  .header {
    height: 50px;
  }

  .product-holder {
    height: 200px;
  }

  #results.query.resultsList {
    top: 50px;
  }

  .button .icon {
    padding: 0px;
    padding-top: 0;
    font-size: 25px !important;
  }

  .homepage-main {
    padding-top: 50px !important;
  }

  .product-holder {
    height: 200px;
  }

  #results.query.resultsList {
    top: 50px;
  }

  #alertSection {
    top: 50px;
  }
}

@media only screen and (max-width: 720px) {
  .field {
    padding-top: 4px;
  }
}

@media only screen and (max-width: 625px) {
  .toggle-button .icon {
    padding-top: 2px;
  }

  nav .scrollable {
    padding-top: 95px;
  }

  #productButtonDrawer {
    margin: 0 20px;
    width: 200px;
    font-size: 14px;
  }

  #versionButtonDrawer {
    margin: 30px 10px 0 20px;
    font-size: 14px;
  }

  #productButtonDrawer .hiddenItem a, #versionButtonDrawer .hiddenItem a {
    display: block;
  }

  .productButtonTitleDrawer, .versionButtonTitleDrawer {
    display: block;
  }

  .productButtonTitleDrawer a, .versionButtonTitleDrawer a {
    padding: 10px;
    display: block;
  }

  .hiddenProductsDrawer, .hiddenversionsDrawer {
    position: relative;
  }

  #specialDivider {
    margin-top: 80px;
  }

  #results.query.resultsList li {
    padding: 10px 25px;
  }

  .product-holder {
    height: 200px;
  }
  
  #results.query.resultsList {
    top: 50px;
  }

}

@media only screen and (max-width: 366px) {
  .toggle-button .icon {
    margin-left: 0;
  }
}

/* 404 page ----------------------------------------------------------------- */
.notFoundContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  color: #3d3d3d;
}

.notFoundContainer i {
  font-size: 130px;
}

.notFoundContainer h1 {
  font-size: 120px;
}

.notFoundContainer h2 {
  font-size: 44px;
  margin-top: 0;
}

.notFoundContainer p {
  font-size: 24px;
  padding-top: 15px;
  margin-bottom: 50px;
  color: #a4a4a4;
}

.homeButton {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  color: #3d3d3d
}
