/* overriding theme palette */
.palette-primary-green {
    background: #383838;
}

.palette-primary-green .footer,.palette-primary-green .header {
    background: #383838;
    color: #BBBBBB;
}

.palette-primary-green .drawer .toc a.current,.palette-primary-green .drawer .toc a:focus,.palette-primary-green .drawer .toc a:hover {
    color: #81C000;
}

.palette-primary-green .drawer .anchor a {
    border-left: 2px solid #81C000;
}

.ios.standalone .palette-primary-green .article {
    background: -webkit-linear-gradient(top,#fff 50%,#81C000 0);
    background: linear-gradient(180deg,#fff 50%,#81C000 0);
}

.palette-primary-green .article a,.palette-primary-green .article code,.palette-primary-green .article h1,.palette-primary-green .article h2 {
    color: #81C000;
}

.palette-primary-green .article .headerlink {
    color: rgba(0,0,0,.26);
}

.palette-primary-green .article table th {
    background: #5cb45b;
}

.palette-primary-green .results .meta {
    background: #81C000;
}

.palette-accent-green .article a:focus,.palette-accent-green .article a:hover {
    color: #618B25;
}

.palette-accent-green .repo a {
    background: #618B25;
}

/* Banner tweak */
.header .stretch .title {
    font-size: 30px;
}

.title {
    padding-top: 15px !important;
    font-weight: bold;
}

.header {
    overflow: visible;
    padding: 0;
}

.bar {
    max-width: 1500px;
}

.bar.search {
    margin-top: -12px;
}

div.bar.default {
    position: relative;
    z-index: 100;
}

.stretch {
    display: inline;
}

.project .banner {
    padding: 15px 20px;
}

.button .icon {
    margin: 10px;
    padding: 0;
}

div.button.button-close {
    padding-top: 11px;
}

.field {
    padding-top 1px;
}

#results.query.resultsList {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 500;
    top: 64px;
    font-size: 16px;
    margin-top: -10px;
    padding-bottom: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,.05);
}

#results.query.resultsList li {
    padding: 10px 125px;
    width: 100%;
}

#results.query.resultsList li:hover {
    background-color: #efefef;
 }

/* Sidebar stuff */
.name strong {
    font-size: 16px;
}

.drawer {
    font-size: 14px;
}

@media only screen and (min-width: 960px) {
    .drawer {
        padding-top: 100px;
    }
}

.project .logo {
    width: 80px;
    height: 80px;
    padding-right: 0;
}

.project .logo img {
    border-radius: 3px;
    margin: 0 auto;
}

.repo {
    margin-top: 10px;
}

/* Content overrides */
.article h1 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 0px !important;
    border-bottom: none;
}

@media only screen and (min-width: 720px) {
    .article .wrapper {
        padding-top: 70px;
    }
}

/* Dropdown buttons */
.buttonHolder {
    z-index: 2000;
    display: inline-block;
    position: absolute;
    padding-top: 13px;
    padding-left: 5px;
}

.platformHolder {
    margin-top: 15px;
    height: 50px;
    padding-top: 5px;
}

#productButton, #versionButton, #platformButton {
    pointer: cursor;
    position: absolute;
    margin-left: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e7e7e7;
}

#productButton a, #versionButton a, #platformButton a {
    color: rgb(90, 90, 90);
    border-bottom: none;
    padding: 10px;
}

#productButton {
    width: 260px;
}

#versionButton {
    width: 120px;
    margin-left: 270px;
}

#platformButton {
    width: 200px;
}

#platformButton a {
    display: block;
}

#platformButton li {
    margin-top: 0;
}

.dropdownArrow {
    float: right;
    font-size: 20px;
}

.platformButtonTitle .dropdownArrow {
    padding-top: 1px;
}

.hiddenProducts, .hiddenVersions, .hiddenPlatforms {
    font-weight: normal;
    z-index: 100;
    background-color: #e7e7e7;
}

.hiddenItems {
    margin-top: 0 !important;
    border-radius: 3px;
}

.hiddenItem {
    margin-left: 0 !important;
}

.hiddenItem:before {
    content: none !important;
}

.hiddenItem:hover {
    background-color: #dbdbdb; 
}

/* version banner */
.versionBanner {
    background-color: #cc7d7c;
    box-shadow: 0 3px 8px rgba(0,0,0,.05);
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 64px;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    .versionBanner {
        top: 56px;
    }
}

.versionBanner a {
    color: #dedede;
}

.versionBanner a:hover {
    color: #ffffff;
}

.versionBannerText {
    font-size: 14px;
}

/* landing page buttons */
.landingButtonHolder {
    text-align: center;
    margin-top: 20px;
}

.landingButton {
    border: 1px solid #81C000;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 10px;
}

.landingButton a {
    font-size: 20px;
    display: block;
    margin-top: 35px;
    border-bottom: none;
}
