{{ partial "head" . }}

<script type="text/javascript" src="{{ "javascripts/application.js" | absURL }}"></script>

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
  <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
  {{ partial "header" . }}
</header>

<main class="main">
  <div class="drawer">
    {{ partial "drawer" . }}
  </div>

  <article class="article">
    <div class="wrapper">
      <h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>

      {{ if isset .Params "version" }}
        {{ partial "platformDropdown.html" . }}
      {{ end }}
      {{ .Content }}

      {{ partial "pagination.html" . }}
    </div>
  </article>

  <div class="results" role="status" aria-live="polite">
    <div class="scrollable">
      <div class="wrapper">
        <div class="meta"></div>
        <div class="list"></div>
      </div>
    </div>
  </div>
</main>

<footer class="footer">
  {{ partial "footer" . }}
</footer>

<!-- May not render, used for old versions,  -->
{{ $product := .Section }}
{{ $product2 := replace $product "-" "_" }}
{{ $product_info := (index .Site.Params.products $product2) }}
{{ if and (isset .Params "version") (ne $product_info.latest .Params.version) }}
  {{ $message := (printf "You're viewing documentation for an older or pre-release version of %s. Click here for the latest." .Params.product) }}
  {{ $link := (printf "/%s/%s/" .Section $product_info.latest) }}
  {{ $params := slice "#cc7d7c" $message  }}
  {{ partial "alert" $params }}
{{ end }}

<script>
$( document ).ready(function() {
  // select all heading with an ID attribute
  const els = document.body.querySelectorAll("h1[id],h2[id],h3[id],h4[id]")
  $cookie = Cookies.get("platform") || "";
  $cookie = $cookie.replace("/", "_");
  $cookie = $cookie.replace(" ", "-");
  // iterate through each and add 'waypoint'
  Array.prototype.forEach.call(els, function(el) {
    // only add the waypoint if we can see the actual content (don't want to add hidden platform blocks)
    // this check is kinda nasty, but it works
    if (!$(el).parent().hasClass("platform") || ($(el).parent().hasClass("platform") && ($cookie === $(el).parent().attr('id')))) {
      new Waypoint({
        element: el,
        handler: function() {
          window.history.replaceState("", "", "#" + el.id);
        }
      })
    }
  });

  togglePlatformDivs();
  applyTipBoxes();
});

function togglePlatformDivs() {
  var $platformCookie = Cookies.get("platform");
  var $platformDivs = document.getElementsByClassName("platform");
  Array.prototype.forEach.call($platformDivs, function($platformDiv) {
    $platformDivId =  $platformDiv.id
    $platformDivId = $platformDivId.replace(new RegExp("-", "g"), " ");
    $platformDivId = $platformDivId.replace(new RegExp("_", "g"), "/");
    if (!$platformDivId.includes($platformCookie) && $platformCookie != null) {
      $platformDiv.style.display = 'none';
    } else {
      $platformDiv.style.display = 'block';
    }
  });
}

function boldFirstWord(element) {
  newElement = element.html().replace(/(^\w+)/, '<strong>$1</strong>');
  element.html(newElement);
}

function applyTipBoxes() {
  $("em").wrap(function() {
    if ($(this).text().includes("NOTE:")) {
      boldFirstWord($(this));
      return '<div class="note"></div>';
    } else if ($(this).text().includes("WARNING:")) {
      boldFirstWord($(this));
      return '<div class="warning"></div>';
    } else if ($(this).text().includes("PRO TIP:")) {
      boldFirstWord($(this));
      return '<div class="pro-tip"></div>';
    }
  });
}
</script>

{{ partial "footer_js" . }}
