<aside id="contribute">
  <div id="page-rating">
    <h4>Is this page helpful?</h4>
    <fieldset class="rating">
      <input type="radio" id="heart5" name="rating" value="5">
      <label for="heart5" title="Excellent"></label>
      <input type="radio" id="heart4" name="rating" value="4">
      <label for="heart4" title="Good"></label>
      <input type="radio" id="heart3" name="rating" value="3">
      <label for="heart3" title="OK"></label>
      <input type="radio" id="heart2" name="rating" value="2">
      <label for="heart2" title="Poor"></label>
      <input type="radio" id="heart1" name="rating" value="1">
      <label for="heart1" title="Unusable"></label>
    </fieldset>
  </div>

  <div>
    <h4>Contribute:</h4>
    <ul>
      <li>
        <a href="{{.Site.Params.repo_url}}/edit/master/content/{{replace .File.Path "latest" .Site.Params.products.sensu_go.latest}}" target="_blank">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit this page
        </a>
      </li>
      <li>
        <a href="https://github.com/sensu/sensu-docs/issues/new/choose" target="_blank">
          <i class="fa fa-bug" aria-hidden="true"></i>
          Report a docs issue
        </a>
      </li>
      <li>
        <a href="https://github.com/sensu/sensu-docs/blob/master/CONTRIBUTING.md" target="_blank">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Read the contributing guide
        </a>
      </li>
    </ul>
  </div>
</aside>
