<aside id="contribute">
  <div>
    <h4>Contribute:</h4>
    <ul>
      <li>
        <a href="{{.Site.Params.repo_url}}/edit/master/content/{{replace .File.Path "latest" .Site.Params.products.sensu_go.latest}}" target="_blank">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit this page
        </a>
      </li>
      <li>
        <a href="https://github.com/sensu/sensu-docs/issues/new/choose" target="_blank">
          <i class="fa fa-bug" aria-hidden="true"></i>
          Report a docs issue
        </a>
      </li>
      <li>
        <a href="https://github.com/sensu/sensu-docs/blob/master/CONTRIBUTING.md" target="_blank">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Read the contributing guide
        </a>
      </li>
    </ul>
  </div>
</aside>
