<nav aria-label="Navigation">

  <!-- Logo and link to home -->
  <a href="{{ .Site.BaseURL }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="logo">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
    </div>
    <div class="name"><strong>Sensu Docs Home</strong></div>
  </a>

  <!-- Dropdowns for the product and version will appear here on resize -->
  <div id="productVersionDrawerHolder">
    {{ partial "productVersionDrawer" . }}
    <hr id="specialDivider">
  </div>
  <div class="scrollable">
    <div class="wrapper">

      <!-- Contains the actual nav links -->
      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
          <ul>
            {{ partial "nav" . }}
          </ul>
        {{ end }}

        <hr>
        <a href="{{.Site.Params.repo_url}}/edit/master/content/{{.File.Path}}">Edit this page</a>
        <!-- Small section for Sensu links -->
        {{ if isset .Site.Params "author" }}
          <hr>
          <span class="section">The author</span>
          <ul>
            {{ with .Site.Social.twitter }}
            <li>
              <a href="https://twitter.com/{{ . }}" target="_blank" title="@{{ . }} on Twitter">
                @{{ . }} on Twitter
              </a>
            </li>
            {{ end }}
            {{ with .Site.Social.github }}
            <li>
              <a href="https://github.com/{{ . }}" target="_blank" title="@{{ . }} on GitHub">
                @{{ . }} on GitHub
              </a>
            </li>
            {{ end }}
            {{ with .Site.Social.email }}
            <li>
              <a href="mailto:{{ . }}" title="Email of {{ . }}">
                Contact via email
              </a>
            </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
