<!-- Nav bar and hamburger icon -->
<nav aria-label="Header" id="navbar">
  <div class="button button-menu" role="button" aria-label="Menu">
    <label class="toggle-button icon icon-menu" for="toggle-drawer">
    </label>
  </div>

  <a class="logo" href="https://docs.sensu.io/">Sensu Docs</a>
  <!-- Render dropdowns if we're not home -->
  {{ if not .IsHome }}
    {{ partial "productVersionDropdown" . }}
  {{ end }}

  <input id="desktop-search" class="algolia-search" type="text" placeholder="Search the docs" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck>
</nav>

<!-- div containing all alerts -->
{{ if not .IsHome }}
  {{ partial "alertSection.html" . }}
{{ end }}

