{{ $currentNode := . }}
{{ range .Site.Menus.main.ByWeight }}
  <!-- If we have important things we can put them in the main menu and they'll show up here -->
{{ end }}

{{ if not .IsHome }}

  <!-- Format this to grab the global varaibles for the product we're on -->
  {{ $section := replace .Section "-" "_" }}
  {{ $product_info := (index .Site.Params.products $section) }}
  {{ $.Scratch.Add "version" .Params.version }}
  {{ if (eq .Params.version "latest") }}
    {{ $.Scratch.Set "version" $product_info.latest }}
  {{ end }}
  {{ $version := $.Scratch.Get "version" }}

  <!-- loop through all menus, but only care if they're for our current section -->
  {{ range $k, $v := .Site.Menus }}
    {{ if and (ne $k "main") (in $k $.Section) }}

      <!-- special case for sensu enterprise dash -->
      {{ if not (and (in $k "sensu-enterprise-dashboard") (eq $.Section "sensu-enterprise")) }}

        <!-- check if we're looking at the section index, or a sub section -->
        {{ if (in $k $version) }}
          {{ $niceName := $.Params.product }}

          <!-- ex. Sensu Core -->
          {{ $url := replace $.Params.product " " "-" }}
          {{ $url := lower $url }}
          <li><a class="menu-title" href="/{{ $url }}/{{ $.Params.version }}">{{ $niceName }}</a><ul class="panel">

          <!-- Loop through the menus pages -->
          {{ range $y, $x := $v }}
            
            <!-- Determine if one the children of this menu is active so we can
            apply the proper styling -->
            {{ $isCurrent := ($currentNode.HasMenuCurrent $k $x) }}

            <!-- if the menu has a child menu -->
            {{ if .HasChildren }}
              {{ if (in $k $version) }}
                {{ $niceName := replace $x.Name "-" " " }}
                {{ $niceName := title $niceName }}

                <!-- saving the menu as API breaks it in the front matter, so we need to format it here -->
                {{ if or (eq $niceName "Api") (eq $niceName "Rbac") }}
                  {{ $niceName := upper $niceName }}
                  <li><a class="menu-title accordion {{ if $isCurrent }}current{{ end }}">{{ $niceName }}<span class="menu-dropdown-icon"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>

                <!-- render the title normally if not API -->
                {{ else }}
                  <li><a class="menu-title accordion {{ if $isCurrent }}current{{ end }}">{{ $niceName }}<span class="menu-dropdown-icon"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                {{ end }}
                <ul class="panel" {{ if $isCurrent }}style="display: block;"{{ end }}>

                  <!-- Loop through the child menu's pages -->
                  {{ range .Children.ByWeight }}
                    {{ if not (eq (lower .Parent) (lower .Name)) }}
                      <!-- Determine if this children is active -->
                      {{ $isCurrent := (eq $.Permalink (.URL | absURL | printf "%s")) }}
                      <li><a class="menu-child {{ if $isCurrent }}current{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                    {{ end }}
                  {{ end }}
                </ul>
              {{ end }}

            <!-- No children, this is top level menu items -->
            {{ else }}
              {{ if not (eq $.Params.product $x.Name) }}
                <li><a class="menu-child" href="{{ .URL | absURL }}">{{ $x.Name }}</a>
              {{ end }}
            {{ end }}
            </li>
          {{ end }}
          </ul></li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<!-- Script for the dropdown list items -->
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          /* Toggle between adding and removing the "active" class,
          to highlight the button that controls the panel */
          this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
              panel.style.display = "none";
          } else {
              panel.style.display = "block";
          }
      }
  }
</script>
