{{ $currentNode := . }}
{{ range .Site.Menus.main.ByWeight }}
    {{ $.Scratch.Set "currentMenuEntry" . }}
    <li>
        {{ partial "nav_link" $currentNode }}
    </li>
{{ end }}

{{ if not .IsHome }}
  {{ $section := replace .Section "-" "_" }}
  {{ $product_info := (index .Site.Params.products $section) }}
  {{ $version := .Params.version }}
  {{ range $k, $v := .Site.Menus }}
    <li>{{ $k }}<ul>
    {{ range $y, $x := $v }}
      <li>{{ $x.Name }}
      {{ if .HasChildren }}
        <ul>
        {{ range .Children }}
          <li>{{ .Name }}</li>
        {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ end }}
    </ul></li>
  {{ end }}
{{ end }}
