<script>
    // I've heard that .stopPropogation() is not ideal, potentially needs a rework
    $( document ).ready(function() {
        $('.platformButtonTitle').click( function(event){
            event.stopPropagation();
            $('.hiddenPlatforms').toggle();
        });
        $(document).click( function(){
            $('.hiddenPlatforms').hide();
        });
    });
    function setPlatformCookie(platform) {
        Cookies.set('platform', platform, { expires: 2030 });
    }
</script>
<div class="platformHolder">
    <div id="platformButton">
        {{ if isset .Params "platform" }}
            {{ $display := .Params.platform }}
            <a class="platformButtonTitle">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
        {{ else }}
            {{ $display := "Platforms" }}
            <a class="platformButtonTitle">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
        {{ end }}
        <div class="hiddenPlatforms" style="display: none;">
            <ul class="hiddenItems">
                {{ $product := .Section }}
                {{ $product2 := replace $product "-" "_" }}
                {{ $product_info := (index .Site.Params.products $product2) }}
                {{ range (index $product_info.versions $.Params.version) }}
                    {{ $platform := . }}
                    {{ $title2 := replace $.Title " " "-" }}
                    {{ $title2 := lower $title2 }}
                    {{ $platform2 := replace $platform " " "-" }}
                    {{ $platform2 := lower $platform2 }}
                    <li class="hiddenItem"><a onClick="setPlatformCookie('{{ $platform2 }}')" href="/{{ $product }}/{{ $.Params.version }}/{{ $title2 }}">{{ $platform }}</a></li>
              {{ end }}
            </ul>
        </div>
    </div>
</div>
