<div class="buttonHolder">
<div id="productButton">
        {{ $display := "Products" }}
        <a onclick="$('.hiddenProducts').toggle(); return false;" href="">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    <span id="" class="hiddenProducts" style="display: none;">
        <ul class="hiddenItems">
            {{  range sort .Site.Params.Products "weight"  }} 
                <li class="hiddenItem"><a href="/{{ .identifier }}">{{ .name }}</a></li>
            {{ end }}
        </ul>
    </span>
</div>


<div id="versionButton">
        {{ $display := "Version" }}
        <a onclick="$('.hiddenVersions').toggle(); return false;" href="">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    <span id="" class="hiddenVersions" style="display: none;">
        <ul class="hiddenItems">
            {{ $product := .Section }}
            {{ $product2 := replace $product "-" "_" }}
            {{ $product_info := (index .Site.Params.products $product2) }} 
            {{ range $product_info.versions }} 
                {{ $version :=  printf "%.2f" . }}
                <li class="hiddenItem"><a href="/{{ $product }}/{{ $version }}">{{ $version }}</a></li>
            {{ end }}
        </ul>
    </span>
</div>
</div>


