<div class="product-picker">
  <!-- Dropdown for products -->
  <div class="dropdown dropdown--products">
    {{ if isset .Params "product" }}
      {{ $display := .Params.product }}
      <a>{{ $display }}<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    {{ else }}
      {{ $display := "Projects" }}
      <a>{{ $display }}<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    {{ end }}
    <div class="options">
      {{ range sort .Site.Params.Products "weight" }} 
        {{ $.Scratch.Set "url" "" }}
          {{ $.Scratch.Set "url" (printf "/%s/%s/" .identifier .latest) }}
        {{ $url := $.Scratch.Get "url" }}
        <a href="{{ $url }}">{{ .name }}</a>
      {{ end }}
    </div>
  </div>

  <!-- Dropdown for versions -->
  <div class="dropdown dropdown--versions">
    {{ if isset .Params "version" }}
      {{ $display := .Params.version }}
      <a>{{ $display }}<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    {{ else }}
      {{ $display := "Version" }}
      <a>{{ $display }}<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    {{ end }}
    <div class="options">
      <!-- Grab info for the current product from global -->
      {{ $product := replace .Section "-" "_" }}
      {{ $product_info := (index .Site.Params.products $product) }}
      {{ $chopurl := split .URL "/"}}
      {{ $pageversion := .Params.version }}

      {{ if not ($.Scratch.Get "versionList") }}
        {{ range $k, $v := $product_info.versions }}
          {{ $.Scratch.Add "versionList" (slice $v.version) }}
        {{ end }}
      {{ end }}
      {{ $versionList := $.Scratch.Get "versionList" }}
      {{ range $version := $versionList }}
        <!-- Protects when $chopurl has nothing after 3 /'s'-->
        {{ if gt (len $chopurl) 3 }}
          {{ $endurl := after 3 $chopurl}}
          {{ if ne $version "2.0" }}
            {{ if ne $pageversion "2.0" }}
              <a href="/{{ $.Section }}/{{ $version }}/{{delimit $endurl "/"}}">{{ $version }}</a>
            {{ else }}
              <a href="/{{ $.Section }}/{{ $version }}">{{ $version }}</a>
            {{ end }}
          {{ else }}
            <a href="/{{ $.Section }}/{{ $version }}">{{ $version }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>

