<!-- Scripts for clicking out of the list to close -->
<script>

  // I've heard that .stopPropogation() is not ideal, potentially needs a rework
  $( document ).ready(function() {
    $('.productButtonTitleDrawer').click( function(event){
      event.stopPropagation();
      $('.hiddenProductsDrawer').toggle();
    });
    $(document).click( function(){
      $('.hiddenProductsDrawer').hide();
    });

    $('.versionButtonTitleDrawer').click( function(event){
      event.stopPropagation();
      $('.hiddenVersionsDrawer').toggle();
    });
    $(document).click( function(){
      $('.hiddenVersionsDrawer').hide();
    });
  });
</script>

<div class="buttonHolder">

    <!-- Dropdown for products -->
  <div id="productButtonDrawer">
    {{ if isset .Params "product" }}
      {{ $display := .Params.product }}
      <a class="productButtonTitleDrawer">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    {{ else }}
      {{ $display := "Projects" }}
      <a class="productButtonTitleDrawer">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    {{ end }}
    <div class="hiddenProductsDrawer" style="display: none;">
      <ul class="hiddenItems">
        {{ range sort .Site.Params.Products "weight" }} 
          {{ $.Scratch.Set "url" "" }}
          {{ if eq .identifier "uchiwa" }}
            {{ $.Scratch.Set "url" "https://docs.uchiwa.io/" }}
          {{ else }}
            {{ $.Scratch.Set "url" (printf "/%s/%s/" .identifier .latest) }}
          {{ end }}
          {{ $url := $.Scratch.Get "url" }}
          <li class="hiddenItem"><a href="{{ $url }}">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  <br>

  <!-- Dropdown for versions -->
  <div id="versionButtonDrawer">
    {{ if isset .Params "version" }} 
      {{ $display := .Params.version }}
      <a class="versionButtonTitleDrawer">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    {{ else }}
      {{ $display := "Version" }}
      <a class="versionButtonTitleDrawer">{{ $display }}<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
    {{ end }}
    <div class="hiddenVersionsDrawer" style="display: none;">
      <ul class="hiddenItems">

        <!-- Grab info for the current product from global -->
        {{ $product := .Section }}
        {{ $product2 := replace $product "-" "_" }}
        {{ $product_info := (index .Site.Params.products $product2) }}
        {{ $endbit := split .URL "/"}}

        <!-- There is not an easy way to reverse the versions map
             so we need to do all this extra stuff just to do so -->
        {{ range $k, $v := $product_info.versions }}
          {{ $.Scratch.SetInMap "versionList" $k $k }}
        {{ end }}
        {{ $versionList := (default (slice) ($.Scratch.GetSortedMapValues "versionList")) }}
        {{ range $index := seq (len $versionList) }}
          {{ $index := sub (len $versionList) $index }}
          {{ $currentversion := index $versionList $index }}
          
          <!-- Protects when $endbit has nothing after 3 /'s'-->
          {{ if gt (len $endbit) 3 }}
            {{ $arraybit := after 3 $endbit}}
              {{ if ne $currentversion "2.0" }}
                <li class="hiddenItem"><a href="/{{ $product }}/{{ index $versionList $index }}/{{delimit $arraybit "/"}}">{{ index $versionList $index }}</a></li>
              {{ else }}
                <li class="hiddenItem"><a href="/{{ $product }}/{{ index $versionList $index }}">{{ index $versionList $index }}</a></li>
              {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>

