<li id="navVersions" style="font-weight: bold;"><a onclick="$('.hiddenList').toggle(); return false;" style="margin:0; padding:0;" href="">{{ .Params.Product }} Versions</a>
    <span id="" class="hiddenList" style="display: none;">
        <ul style="margin: 14.5px 0 0 -12px;">
            {{ $product := .Section }}
            {{ $product2 := replace $product "-" "_" }}
            {{ $product_info := (index .Site.Params.products $product2) }} 
            {{ range $product_info.versions }} 
                {{ $version :=  printf "%.2f" . }}
                <li class="anchor"><a href="/">{{ $version }}</a></li>
            {{ end }}
        </ul>
    </span>
</li>
