{{ partial "head" . }}

<section id="footer">
    <div class="footer--content">
        <div class="footer--content--center">
            <div class="register">
                <img alt="Sensu Go Lizy mascot image" title="Page does not exist" src="/images/idle-lizy.png" height="200">
                <h3>404 Page not found</h3>
                <p>Sorry, that page does not exist.</p>
                <p><u><a href="https://docs.sensu.io/sensu-go/latest/" class="homeButton">Home</a></u></p>
            </div>

        </div>
    </div>
</section>
