{{ partial "head" . }}

  <div id="page-404">
    <img alt="Sensu Go Lizy mascot image" title="404 Page Not Found" src="/images/idle-lizy.png">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <p id="instructions">Try searching the docs below, or visit the <a href="/">Sensu docs homepage</a>.<p>

    <div class="full-width-search">
      <input id="search" type="text" />
    </div>
  </div>
  {{ partial "footer_js" . }}
  <script>
    var facetFilters = docsearchOptions.algoliaOptions.facetFilters;
    var latestVersions = {
      {{ range .Site.Params.products }}
        "{{ .identifier }}": "{{ .latest }}",
      {{ end }}
    };
    var searchTerms = window.location.pathname.split("/");
    searchTerms.shift();

    // Add notice about new 6.x pages that aren't present in 5.x
    // TODO: Remove after all 5.x content is archived
    if (searchTerms[0] === "sensu-go" && /^5\.\d+/.test(searchTerms[1]) && searchTerms[2] === "observability-pipeline") {
      document.querySelector("#instructions").innerHTML = `We made some improvements in the version 6 docs that aren't reflected in earlier versions. Try the <a href="https://docs.sensu.io/sensu-go/">main Sensu Go ${searchTerms[1]} page</a> if you need to use pre-6.0 docs. You can also search the docs below or visit the <a href="/">Sensu docs homepage</a>.`
    }

    if (searchTerms[0] === "sensu-go" && /^5\.\d+/.test(searchTerms[1]) && searchTerms[2] === "plugins") {
      document.querySelector("#instructions").innerHTML = `We made some improvements in the version 6 docs that aren't reflected in earlier versions. Try the <a href="https://docs.sensu.io/sensu-go/">main Sensu Go ${searchTerms[1]} page</a> if you need to use pre-6.0 docs. You can also search the docs below or visit the <a href="/">Sensu docs homepage</a>.`
    }

    // Scope the search results to a product/version (dirty)
    // Versions
    if (searchTerms[1]) {
      // Try to coerce the desired product version
      if (searchTerms[1] === "latest") {
        searchTerms[1] = latestVersions[searchTerms[0]] || searchTerms[1];
      }

      if (/^\d+\.\d+$/.test(searchTerms[1])) {
        docsearchOptions.algoliaOptions.facetFilters[1] = [`version:${searchTerms[1]}`];
        searchTerms.splice(1, 1);
      }
    }
    // Products
    if (searchTerms[0]) {
      var tags = facetFilters[0].map(tag => tag.replace("tags:", ""));
      if (tags.includes(searchTerms[0])) {
        docsearchOptions.algoliaOptions.facetFilters[0] = [`tags:${searchTerms[0]}`];
        searchTerms.shift();
      };
    }

    // Populate the search input and open it
    docsearchOptions.inputSelector = "#search";
    document.querySelector(docsearchOptions.inputSelector).value = searchTerms.join(" ").match(/[a-zA-Z0-9.]+/g).join(" ");
    var search = docsearch(docsearchOptions);
    search.autocomplete.autocomplete.open();
  </script>
  <body>
</html>
