{{ partial "head" . }}

<div id="home">
{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<header>
  {{ partial "header" . }}
</header>

<!-- Main content -->
<main>
  {{ partial "drawer" . }}

  <div class="product-grid">
      <a class="product-grid--product product-grid--product-sensu-go" href="./sensu-go/5.18">
        <div class="product-grid--product--title">Sensu Go</div>
        <div class="product-grid--product--description">
          The next-generation monitoring event pipeline<br><br>
          <b>Replaces Sensu Core and Enterprise</b>
        </div>
      </a>
      <a class="product-grid--product product-grid--product-sensu-core" href="https://bonsai.sensu.io/">
        <div class="product-grid--product--title">Bonsai</div>
        <div class="product-grid--product--description">
          Discover and share assets for all your monitoring needs
        </div>
      </a>
      <a class="product-grid--product product-grid--product-sensu-enterprise" href="./sensu-enterprise/3.7">
        <div class="product-grid--product--title">Sensu Enterprise</div>
        <div class="product-grid--product--description">
          The powerful and simple monitoring product, built on Sensu Core<br><br>
          <b>End of life: March 31, 2020</b>
        </div>
      </a>
      <a class="product-grid--product product-grid--product-sensu-enterprise-dashboard" href="./sensu-enterprise-dashboard/2.16">
        <div class="product-grid--product--title">Sensu Enterprise Dashboard</div>
        <div class="product-grid--product--description">
          The dashboard for Sensu Enterprise, built on Uchiwa<br><br>
          <b>End of life: March 31, 2020</b>
        </div>
      </a>
      <a class="product-grid--product product-grid--product-uchiwa" href="https://discourse.sensu.io/">
        <div class="product-grid--product--title">Discourse</div>
        <div class="product-grid--product--description">
          Sensu's community forum: Ask questions, search answers, and help other Sensu users
        </div>
      </a>
      <a class="product-grid--product product-grid--product-plugins" href="./plugins/1.0">
        <div class="product-grid--product--title">Plugins</div>
        <div class="product-grid--product--description">
          Checks, handlers, and other plugins to power your Sensu deployment
        </div>
      </a>
  </div>
</main>
</div>
<!-- Footer which is not displayed -->
{{ partial "footer_js" . }}
