{{ partial "head" . }}

<div id="home">
  {{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
    {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
    {{ .Scratch.Set "repo_id" $repo_id }}
  {{ end }}

  <header>
    {{/* Navigation */}}
    {{ partial "header" . }}
  </header>

  <!-- Main content -->
  <main>
    {{ partial "drawer" . }}
    <img style="margin: 2rem; width: 300px;" alt="Sensu by Sumo Logic logo" title="Sensu by Sumo Logic" src="/images/sensu-by-sumologic-logo.png" />
    <nav class="nav-multicolored">
      <a href="./sensu-go/latest/">Sensu Go documentation</a>
      <a href="https://bonsai.sensu.io/" target="_blank">Bonsai Sensu asset hub</a>
      <a href="https://discourse.sensu.io/" target="_blank">Discourse community</a>
    </nav>
    <br>
    
    <br><br>
    {{ $workflow := slice "1. Install Sensu" "2. Add integrations" "3. Use Sensu to create events, send alerts, and more" }}
    <div class="inline">
      <p class="inline-list-header">
        Start building your own monitoring-as-code workflows in three steps.
        Our fully featured product is free for up to 100 entities!
      </p>
      <div class="parallelograms">
        {{ range $workflow }}
          <div class="parallelogram">
            <span>{{ . }}</span>
          </div>
          {{ end }}
      </div>
    </div>
    <div class="inline">
      <div class="colored colored--green">
        <h3>New to Sensu?</h3>
        <p><a href="./sensu-go/latest/learn/">Click</a> for learning resources</p>
      </div>
      <div class="colored colored--blue">
        <h3>Sensu Core user?</h3>
        <p><a href="./sensu-go/latest/operations/maintain-sensu/migrate/">Click</a> to migrate to Sensu Go</p>
      </div>
    </div>
    <div>
      <h2>Sensu observability pipeline</h2>
      <p>Flexible, automated monitoring-as-code workflows for visibility into every part of your infrastructure. Take targeted actions based on contextualized information and deeper insights.</p>
      <img style="margin-bottom: 2rem;" src="/images/observability-pipeline.png" />
    </div>
    <div class="colored colored--rounded colored--purple">
      <h3>Plugins</h3>
      <p>Extend Sensu's functionality with plugin executables: checks, handlers, mutators, and event filters. Install any of our many existing plugins or write your own plugins in almost any programming language.</p>
    </div>
    <div>
      <h2>Sensu integrations</h2>
      <p>Integrate Sensu with the platforms and tools you?re already using to control costs, eliminate data silos, improve observability, and reduce multi-cloud tool sprawl.</p>
      <div class="info-grid">
        <a href="./sensu-go/latest/plugins/supported-integrations/ansible/">
          <img src="/images/integrations/ansible_logo.png" alt="Ansible" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/chef/">
          <img src="/images/integrations/chef_logo.png" alt="Chef" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/ec2/">
          <img src="/images/integrations/ec2_logo.png" alt="EC2" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/elasticsearch/">
          <img src="/images/integrations/elasticsearch_logo.png" alt="Elasticsearch" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/graphite/">
          <img src="/images/integrations/graphite_logo.png" alt="Graphite" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/influxdb/">
          <img src="/images/integrations/influxdb_logo.png" alt="InfluxDB" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/jira/">
          <img src="/images/integrations/jira_logo.png" alt="Jira" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/opentsdb/">
          <img src="/images/integrations/opentsdb_logo.png" alt="OpenTSDB" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/pagerduty/">
          <img src="/images/integrations/pagerduty_logo.png" alt="PagerDuty" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/prometheus/">
          <img src="/images/integrations/prometheus_logo.png" alt="Prometheus" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/puppet/">
          <img src="/images/integrations/puppet_logo.png" alt="Puppet" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/rundeck/">
          <img src="/images/integrations/rundeck_logo.png" alt="Rundeck" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/saltstack/">
          <img src="/images/integrations/saltstack_logo.png" alt="Saltstack" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/servicenow/">
          <img src="/images/integrations/servicenow_logo.png" alt="ServiceNow" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/slack/">
          <img src="/images/integrations/slack_logo.png" alt="Slack" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/timescaledb/">
          <img src="/images/integrations/timescaledb_logo.png" alt="TimescaleDB" />
        </a>
        <a href="./sensu-go/latest/plugins/supported-integrations/wavefront/">
          <img src="/images/integrations/wavefront_logo.png" alt="Wavefront" />
        </a>
      </div>
      <div class="colored colored--blue colored--narrow">
        <h3>Need help with a specific question?</h3>
        <p>Ask the Sensu Community in our <a href="https://slack.sensu.io/" target="_blank">Slack</a> or <a href="https://discourse.sensu.io/" target="_blank">Discourse</a>.</p>
      </div>
    </div>
    <div>
      <h2>Sensu monitoring and observability tools</h2>
      <p>Automated, repeatable workflow configuration and observation event access. Create and manage resources from the command line, web UI, or REST API.</p>
      <div class="inline">
        <div class="colored colored--green colored--rounded">
          <h3>Sensuctl</h3>
          <p>Manage Sensu resources from the command line</p>
        </div>
        <div class="colored colored--green colored--rounded">
          <h3>Web UI</h3>
          <p>Get a unified view of Sensu resources</p>
        </div>
        <div class="colored colored--green colored--rounded">
          <h3>API</h3>
          <p>Access events and workflows with a central control plane</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Sensu at enterprise scale</h2>
      <p>Monitor tens of thousands of nodes and process 100M+ events per hour. Scale for complex and distributed infrastructures and high-volume event storage.</p>
      <div class="info-grid info-grid--comfy">
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/deploy-sensu/deployment-architecture/">
          <p>Deployment architecture</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/deploy-sensu/generate-certificates/">
          <p>Certificates and security</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/deploy-sensu/cluster-sensu/">
          <p>Clusters and federation</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/deploy-sensu/scale-event-storage/">
          <p>Enterprise datastore</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/manage-secrets/secrets-management/">
          <p>Secrets management</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-schedule/business-service-monitoring/">
          <p>Business service monitoring</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/control-access/sso/">
          <p>Single sign-on (SSO) authentication</p>
        </a>
        <a class="colored colored--purple colored--rounded" href="./sensu-go/latest/operations/control-access/rbac/">
          <p>Role-based access control</p>
        </a>
      </div>
    </div>
    <div>
      <h2>Guides and examples</h2>
      <p>Step-by-step walkthroughs and workflows for specific observability tasks.</p>
      <div class="info-grid info-grid--comfy">
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-schedule/monitor-server-resources/">
          <p>Monitor server resources</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-schedule/collect-metrics-with-checks/">
          <p>Collect service metrics</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-process/populate-metrics-influxdb/">
          <p>Populate metrics in InfluxDB</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-process/handler-templates/">
          <p>Include event data in alert messages</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-entities/monitor-external-resources/">
          <p>Monitor external resources with proxy entities</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/operations/monitor-sensu/log-sensu-systemd/">
          <p>Log Sensu services</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/operations/control-access/create-limited-service-accounts/">
          <p>Create limited service accounts</p>
        </a>
        <a class="colored colored--blue colored--rounded" href="./sensu-go/latest/observability-pipeline/observe-process/plan-maintenance/">
          <p>Plan maintenance windows with silences</p>
        </a>
      </div>
    </div>
    <div>
      <h2>Learn Sensu</h2>
      <p>Start using Sensu and discover what you can do. Get hands-on and use our fully featured product for free up to 100 entities.</p>
      <div class="info-grid info-grid--comfy">
        <a class="colored colored--white colored--rounded" href="https://sensu.io/resources?type=workshop">
          <p>Take the self-guided Sensu Go workshop</p>
        </a>
        <a class="colored colored--white colored--rounded" href="./sensu-go/latest/observability-pipeline/">
          <p>Explore the Sensu observability pipeline</p>
        </a>
        <a class="colored colored--white colored--rounded" href="./sensu-go/latest/learn/demo/">
          <p>Try our live web UI demo</p>
        </a>
        <a class="colored colored--white colored--rounded" href="./sensu-go/latest/platforms/">
          <p>Find your platform or build from source</p>
        </a>
      </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eUZTMdYtCmg?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: 3rem auto 5rem"></iframe>
  </main>
</div>
{{ partial "footer" . }}
{{ partial "footer_js" . }}
</body>
</html>
