{{ partial "head" . }}

<div id="home">
  {{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
    {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
    {{ .Scratch.Set "repo_id" $repo_id }}
  {{ end }}

  <header>
    {{/* Navigation */}}
    {{ partial "header" . }}
  </header>

  <!-- Main content -->
  <main>
    {{ partial "drawer" . }}
    <nav class="nav-multicolored">
      <a href="./sensu-go/6.3/">Sensu Go documentation</a>
      <a href="https://bonsai.sensu.io/">Bonsai Sensu asset hub</a>
      <a href="https://discourse.sensu.io/">Discourse community</a>
    </nav>
    {{ $workflow := slice "1. Install Sensu" "2. Add integrations" "3. Use Sensu to create events, send alerts, and more" }}
    <div class="inline">
      <p class="inline-list-header">
        Start building your own monitoring-as-code workflows in three steps &ndash; Our fully featured product is free for up to 100 entities!
      </p>
      <div class="parallelograms">
        {{ range $workflow }}
          <div class="parallelogram">
            <span>{{ . }}</span>
          </div>
          {{ end }}
      </div>
    </div>
    <div class="inline">
      <div class="colored colored--green">
        <h3>New to Sensu?</h3>
        <p><a>Click</a> for learning resources</p>
      </div>
      <div class="colored colored--blue">
        <h3>Sensu Core user?</h3>
        <p><a>Click</a> to migrate to Sensu Go</p>
      </div>
    </div>
    <div>
      <h2>Sensu observability pipeline</h2>
      <p>Flexible, automated monitoring-as-code workflows for visibility into every part of your infrastructure. Take targeted actions based on contextualized information and deeper insights.</p>
      <img style="margin-bottom: 2rem;" src="/images/observability-pipeline.png" />
    </div>
    <div class="colored colored--rounded colored--purple">
      <h3>Plugins</h3>
      <p>Extend Sensu's functionality with plugin executables: checks, handlers, mutators, and event filters. Install any of our many existing plugins or write your own plugins in almost any programming language.</p>
    </div>
    <div>
      <h2>Sensu integrations</h2>
      <p>Integrate Sensu with the platforms and tools you?re already using to control costs, eliminate data silos, improve observability, and reduce multi-cloud tool sprawl.</p>
      <div class="info-grid">
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ansible_logo.svg" alt="Ansible" />
        </a>
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Chef_logo.svg" alt="Chef" />
        </a>
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Elasticsearch_logo.svg" alt="Elastic" />
        </a>
        <a>PagerDuty</a>
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Prometheus_software_logo.svg" alt="Prometheus" />
        </a>
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Ansible_logo.svg" alt="Ansible" />
        </a>
        <a>Place Holder</a>
        <a>
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Chef_logo.svg" alt="Chef" />
        </a>
      </div>
      <div class="colored colored--blue colored--narrow">
        <h3>Need help with a specific question?</h3>
        <p>Ask the Sensu Community in our <a>Slack</a> or <a>Discourse</a>.</p>
      </div>
    </div>
    <div>
      <h2>Sensu monitoring and observability tools</h2>
      <p>Automated, repeatable workflow configuration and observation event access. Create and manage resources from the command line, web UI, or REST API.</p>
      <div class="inline">
        <div class="colored colored--green colored--rounded">
          <h3>Sensuctl</h3>
          <p>Manage Sensu resources from the command line</p>
        </div>
        <div class="colored colored--green colored--rounded">
          <h3>Web UI</h3>
          <p>Get a unified view of Sensu resources</p>
        </div>
        <div class="colored colored--green colored--rounded">
          <h3>API</h3>
          <p>Access events and workflows with a central control plane</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Sensu at enterprise scale</h2>
      <p>Monitor tens of thousands of nodes and process 100M+ events per hour. Scale for complex and distributed infrastructures and high-volume event storage.</p>
      <div class="info-grid info-grid--comfy">
        <a class="colored colored--purple colored--rounded">
          <p>Deployment architecture</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Certificates and security</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Clusters and federation</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Enterprise datastore</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Secrets management</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Business service monitoring</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Authentication with external providers</p>
        </a>
        <a class="colored colored--purple colored--rounded">
          <p>Role-based access control</p>
        </a>
      </div>
    </div>
    <div>
      <h2>Guides and examples</h2>
      <p>Step-by-step walkthroughs and workflows for specific observability tasks.</p>
      <div class="info-grid info-grid--comfy">
        <div class="colored colored--blue colored--rounded">
          <p>Monitor server resources</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Monitor external resources with proxy entities</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Populate metrics in InfluxDB</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Include event data in alert messages</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Log Sensu services</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Authenticate with AD, LDAP, or OIDC</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Plan maintenance windows with silences</p>
        </div>
        <div class="colored colored--blue colored--rounded">
          <p>Monitor Sensu with Sensu</p>
        </div>
      </div>
    </div>
    <div>
      <h2>Learn Sensu</h2>
      <p>Start using Sensu and discover what you can do. Get hands-on and use our fully featured product for free up to 100 entities.</p>
      <div class="info-grid info-grid--comfy">
        <div class="colored colored--white colored--rounded">
          <p>Learn in your browser with interactive tutorials</p>
        </div>
        <div class="colored colored--white colored--rounded">
          <p>Explore the Sensu observability pipeline</p>
        </div>
        <div class="colored colored--white colored--rounded">
          <p>Try our live web UI demo</p>
        </div>
        <div class="colored colored--white colored--rounded">
          <p>Find your platform or build from source</p>
        </div>
      </div>
    </div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eUZTMdYtCmg?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: 3rem auto 5rem"></iframe>
  </main>
</div>
{{ partial "footer" . }}
{{ partial "footer_js" . }}
</body>
</html>
