#home .drawer {
  display: none;
}

.drawer {
  display: none;
  flex: 0 0 25%;
  height: calc(100vh - #{$header-height-sm});
  width: 25%;

  @media (min-width: $breakpoint-lg) {
    display: flex;
    height: calc(100vh - #{$header-height-lg});
  }

  .algolia-autocomplete,
  .product-picker {
    display: flex;

    @media (min-width: $breakpoint-lg) {
      display: none !important;
    }
  }

  .current {
    color: $green;
    font-weight: 600;
  }

  .drawer--footer {
    a {
      font-size: 1.3rem;
    }

    iframe {
      margin-bottom: 1rem;
    }
  }

  .drawer--inner {
    height: inherit;
    max-width: 31rem;
    overflow: auto;
    padding: 6rem 1.5rem 0 1.5rem;
    position: fixed;
    width: inherit;

    nav {
      margin-bottom: 4rem;
    }
  }

  a {
    color: $blue-dark;
    display: block;
    font-size: 1.6rem;
    line-height: 1.375;
    padding: 0.5rem 0;
    text-decoration: none;
    transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }
}
