* {
  font-family: "Work Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fbfbfb;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

::placeholder,
input {
  color: $blue-dark;
  font-family: "Work Sans", sans-serif;
}

hr {
  border: none;
  border-bottom: 1px solid #d5d6de;
  margin: 1.5rem 0 2.25rem;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;

  &.inline li {
    display: inline-block;
  }
}

.strong {
  font-weight: 600;
}

.toggle {
  display: none;
}
