#home .button-menu {
  display: none;
}

header {
  background: white;
  box-shadow: 0 1.5px 3px rgba(0,0,0,.24),0 3px 8px rgba(0,0,0,.05);
  position: fixed;
  width: 100%;
  z-index: 2;

  .algolia-search {
    border-bottom: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
    padding: 0 12px 0 44px;
  }

  #home & .algolia-autocomplete {
    display: flex !important;
  }

  .logo {
    color: #2C3458;
    display: block;
    flex: 1;
    font: 600 24px/1.16 'Work Sans';
    min-width: 172px;
    padding: 0 16px 0 0;
  }

  #home & .logo {
    padding-left: 16px;
  }

  nav {
    align-items: center;
    display: flex;
    height: $header-height-sm;
    justify-content: space-between;

    @media (min-width: $breakpoint-lg) {
      height: $header-height-lg;
    }
  }
}
