main {
  padding-top: $header-height-sm;

  @media (min-width: $breakpoint-lg) {
    padding-top: $header-height-lg;
  }
}

.article {
  background-color: white;
  border-left: 2px solid #eaeaea;

  .wrapper {
    padding: 50px 35px 96px;
  }

  a {
    border: none;
    color: $gray-dark;
    line-height: 1.375;
    text-decoration: underline;
    transition: color 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);

    &:hover {
      color: #46474b
    }
  }

  blockquote {
    border-left: 5px solid #89C967;
    padding: 8px 0 8px 15px;

    p {
      color: $blue-dark;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.2;
      margin: 0;

      a {
        font-size: 1.6rem;
      }
    }
  }

  code {
    background-color: #F1F2F6;
    border-radius: 5px;
    color: #000080;
    font-size: 1.4rem;
    padding: 0.214em 0.429em;
    margin: 0 1px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $blue-dark;
    font-weight: 600;
    line-height: 1.17;
    padding: 0;

    &:hover a {
      display: inline;
    }

    a {
      color: currentColor;
      display: none;
      font-size: inherit;
      line-height: 1;
      margin-left: 0.75rem;
    }
  }

  h1 {
    border-bottom: none;
    font-size: 3.8rem;
    margin: 1.25em 0 0.4em;
  }

  h3 {
    font-size: 2.2rem;
    margin: 2em 0 0.7em;
  }

  li {
    color: $gray-dark;
    font-size: 1.6rem;
    line-height: 1.375;
    padding: 0 0 0 10px;
  }

  p {
    color: $gray-dark;
    font-size: 1.6rem;
    line-height: 1.375;
    margin: 1.5em 0 1.5625em;
  }

  strong {
    font-weight: 700;
  }

  ul {
    margin: 1.5em 0 1em 2.5rem;
    padding: 0;
  }
}
