main {
  align-items: stretch;
  display: grid;
  grid-template-areas: "main";
  margin: 0 auto;
  max-width: 1500px;
  padding-top: $header-height-sm;

  #home & {
    display: block;
    max-width: 100%;
    text-align: center;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-areas: "drawer main sidebar";
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: $header-height-lg;
  }
}

.katacodawide {
  background-color: white;
  grid-column: span 5;
  padding: 10px 0px;
}

.article {
  background-color: white;
  grid-area: main;
  margin: 0;
  overflow-x: hidden;

  @media (min-width: $breakpoint-lg) {
    border-left: 2px solid #eaeaea;
  }


  .wrapper {
    padding: 30px 25px 96px;

    @media (min-width: $breakpoint-md) {
      padding: 50px 35px 96px;
    }
  }

  ol {
    li {
      padding: 0 0 0 1rem;
    }
  }

  ul {
    margin: 1.5em 0 1em 2.5rem;

    li {
      margin-left: 1.2rem;
      margin-top: 0.75em;
      padding: 0 0 0 1.7rem;
      position: relative;

      &::before {
        border-right: 1.5px solid;
        border-top: 1.5px solid;
        content: '';
        display: inline-block;
        height: 0.6rem;
        left: 0;
        position: absolute;
        top: 0.55em;
        transform: rotate(45deg);
        width: 0.6rem;
      }

      ul {
        margin: 0.75em 0 0.75em 2.5rem;
      }
    }
  }
}

#page-404 {
  margin: 0 auto;
  max-width: 600px;
  padding: 3rem 2rem;
  text-align: center;

  h1 {
    margin: 0;
    float: center;
  }

  h2 {
    margin: 0;
    float: center;
  }

  img {
    float: left;
    height: 120px;
    text-align: center;
  }

  .algolia-autocomplete-right .ds-dropdown-menu {
    margin: 6px 0;
    right: 0 !important;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
