main {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 1236px;
  padding-top: $header-height-sm;

  @media (min-width: $breakpoint-lg) {
    padding-top: $header-height-lg;
  }
}

.article {
  background-color: white;
  border-left: 2px solid #eaeaea;
  flex: 0 0 100%;
  margin: 0 0 0 auto;

  @media (min-width: $breakpoint-lg) {
    flex: 0 0 75%;
  }


  .wrapper {
    padding: 50px 35px 96px;
  }

  li {
    padding: 0 0 0 10px;
  }

  ul {
    margin: 1.5em 0 1em 2.5rem;
  }
}
