main {
  align-items: stretch;
  display: grid;
  grid-template-areas: "main";
  margin: 0 auto;
  max-width: 1500px;
  padding-top: $header-height-sm;

  #home & {
    display: block;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-areas: "drawer main sidebar";
    grid-template-columns: 1fr 3fr 1fr;
    padding-top: $header-height-lg;
  }
}

#home a {
  transform-origin: center;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
    transform: scale(1.05) translateZ(0);
    z-index: 5;
  }
}

#home h2 + p {
  font-size: 2rem;
  margin: 0.75em auto;
  max-width: 640px;
}

.katacodawide {
  background-color: white;
  grid-column: span 5;
  padding: 10px 0px;
}

.info-grid {
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);

  > a,
  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  &--comfy {
    grid-template-columns: repeat(2, 1fr);

    > div {
      padding: 2rem;
    }
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(5, 1fr);

    &--comfy {
      grid-template-columns: repeat(4, 1fr);
    }

    > div {
      padding: 3rem;
    }
  }
}

.parallelograms {
  display: block;
  flex: 1;
  margin: 1rem 2rem 2rem;

  @media (min-width: $breakpoint-md) {
    display: flex;
  }
}

.colored {
  display: block;
  margin: 1.5rem;
  padding: 1.5rem 2.5rem;
  text-decoration: none;

  & > * {
    color: white;
  }

  &--blue {
    background-color: #2c3458;
  }

  &--green {
    background-color: #65b34e;
  }

  &--narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  &--purple {
    background-color: #7a4595;
  }

  &--rounded {
    border-radius: 4px;
  }

  &--white {
    background-color: white;
    border: 2px solid #b2b2b2;

    > p {
      color: inherit;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
  }

  h3 {
    margin: auto;
  }

  p {
    margin: auto;
  }
}

.parallelogram {
  align-items: center;
  border-radius: 4px;
  border: 2px solid #b2b2b2;
  flex: 0 0 100%;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem 2rem;

  @media (min-width: $breakpoint-md) {
    display: inline-flex;
    flex: 1;
    transform: skew(-20deg);

    & > span {
      display: block;
      transform: skew(20deg);
    }
  }
}

.article {
  background-color: white;
  grid-area: main;
  margin: 0;
  overflow-x: hidden;

  @media (min-width: $breakpoint-lg) {
    border-left: 2px solid #eaeaea;
  }


  .wrapper {
    padding: 30px 25px 96px;

    @media (min-width: $breakpoint-md) {
      padding: 50px 35px 96px;
    }
  }

  ol {
    li {
      padding: 0 0 0 1rem;
    }
  }

  ul {
    margin: 1.5em 0 1em 2.5rem;

    li {
      margin-left: 1.2rem;
      margin-top: 0.75em;
      padding: 0 0 0 1.7rem;
      position: relative;

      &::before {
        border-right: 1.5px solid;
        border-top: 1.5px solid;
        content: '';
        display: inline-block;
        height: 0.6rem;
        left: 0;
        position: absolute;
        top: 0.55em;
        transform: rotate(45deg);
        width: 0.6rem;
      }

      ul {
        margin: 0.75em 0 0.75em 2.5rem;
      }
    }
  }
}

.inline {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div:not(.parallelograms),
  & > p {
    display: block;
    flex: auto;

    @media (min-width: $breakpoint-lg) {
      flex: 1;
    }
  }

  .inline-list-header {
    flex: 0 0 100%;

    @media (min-width: $breakpoint-lg) {
      flex: 0 0 30%;
    }
  }
}

#page-404 {
  margin: 0 auto;
  max-width: 600px;
  padding: 3rem 2rem;
  text-align: center;

  h1 {
    margin: 0;
    float: center;
  }

  h2 {
    margin: 0;
    float: center;
  }

  img {
    float: left;
    height: 120px;
    text-align: center;
  }

  .algolia-autocomplete-right .ds-dropdown-menu {
    margin: 6px 0;
    right: 0 !important;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

svg a {
  transform-box: fill-box;
}
