.nav-multicolored {
  color: white;
  display: inline-flex;
  font-size: 1.4rem;
  margin: 3rem auto;

  @media (min-width: $breakpoint-md) {
    font-size: 1.5rem;
  }

  a {
    color: white;
    display: block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    @media (min-width: $breakpoint-md) {
      padding: 1rem 1.5rem;
    }

    #home &:hover,
    &:hover {
      opacity: 1;
      transform: scale(1.05) translateZ(0);
      z-index: 5;
    }
  }

  :first-child {
    background-color: #2c3458;
  }

  :nth-child(2) {
    background-color: #65b34e;
  }

  :last-child {
    background-color: #7a4595;
  }
}
