.product-grid {
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$header-height-sm});

  @media (min-width: $breakpoint-lg) {
    min-height: calc(100vh - #{$header-height-lg});
  }

  .product-grid--product {
    color: white;
    display: block;
    flex: 0 0 100%;
    min-height: 220px;
    opacity: 1;
    padding: 2rem;
    text-decoration: none;
    transition: opacity 240ms cubic-bezier(0.2, 0.3, 0.25, 0.9);

    @media (min-width: $breakpoint-md) {
      flex: 0 0 50%;

      > * {
        max-width: 78%;
      }
    }

    @media (min-width: $breakpoint-lg) {
      flex: 0 0 33.33333%;
      padding-top: 5rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .product-grid--product-plugins {
    background-color: #7B4496;
  }

  .product-grid--product-sensu-core {
    background-color: #448E2D;
  }

  .product-grid--product-sensu-enterprise {
    background-color: #502665;
  }

  .product-grid--product-sensu-enterprise-dashboard {
    background-color: #5380D1;
  }

  .product-grid--product-sensu-go {
    background-color: #2C3458;
  }

  .product-grid--product-uchiwa {
    background-color: #66B350;
  }

  .product-grid--product--description {
    font-size: 1.8rem;
    line-height: 1.25;

    @media (min-width: $breakpoint-md) {
      font-size: 2rem;
    }
  }

  .product-grid--product--notice {
    font-size: 1.8rem;
    line-height: 1.25;
    color: white;
    @media (min-width: $breakpoint-md) {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .product-grid--product--title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.17;
    margin: 0 0 1rem;

    @media (min-width: $breakpoint-md) {
      font-size: 3.8rem;
    }
  }
}
