#sidebar {
  background: white;
  display: none;
  grid-area: sidebar;

  a {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
    text-decoration: none;
  }

  aside > div {
    background-color: #fbfbfb;
    padding: 2rem 1rem 2rem 1.5rem;
    width: 100%;
  }

  h4 {
    font-size: 1.6rem;
    font-style: normal;
    margin-top: 0;
  }

  @media (min-width: $breakpoint-lg) {
    display: block;
  }
}


#page-rating {
  float: left;
  white-space: nowrap;
}

.rating {
  width: auto;
  border: none;
  line-height: 0.25;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 4px;
  font-size: 2.0em;
  font-family: FontAwesome;
  display: inline;
  content: "\f004";
  float: right;
}

.rating > label {
  color: #DDDDDD;
}

.rating > input:checked ~ label, /* show green heart when clicked */
.rating:not(:checked) > label:hover, /* show green heart on current hover */
.rating:not(:checked) > label:hover ~ label { /* show green heart for all previous */
  color: #89C967;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #6DA864;
}


#contribute {
  padding: 4rem 0 0 1rem;
}
