#toc {
  ul ul {
    margin-left: 2rem;
  }
}

aside#toc {
  background: white;
  display: none;
  grid-area: aside;
  padding: 4rem 0 9rem 1rem;

  & > div {
    background-color: #fbfbfb;
    padding: 2rem 1rem 2rem 1.5rem;
    position: sticky;
    top: 11rem;
    width: 100%;
  }

  a {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
  }

  code {
    padding: 0;
  }

  h4 {
    font-size: 1.6rem;
    font-style: normal;
    margin-top: 0;
  }

  li {
    display: block;
    font-size: 1.4rem;
    padding-left: 1.6rem;
    position: relative;

    &.active > a {
      color: $green;
    }

    &::before {
      border-bottom: 4px solid transparent;
      border-left-color: $green;
      border-left-style: solid;
      border-left-width: 0;
      border-top: 4px solid transparent;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 6px;
      transition: border 0.3s;
    }

    &.active::before {
      border-left-width: 6px;
    }
  }

  ul ul {
    margin-left: 0;
  }

  @media (min-width: $breakpoint-lg) {
    display: block;
  }
}
