@import "vendor/sanitize";
@import "variables";
@import "global";

@import "layout";

@import "alert";
@import "code";
@import "language-toggle";
@import "link-grid";
@import "platform-picker";
@import "product-picker";
@import "table";
@import "toc";

body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 3rem;
}

code {
  font-family: Consolas, monospace;
}

iframe {
  display: none;
}

table {
  td,
  th {
    display: table-cell;

    &:first-child {
      width: 25%;
    }
  }

  tr {
    display: table-row;
  }
}

.article {
  border: none;
}

.language-toggle {
  p + & {
    margin-top: 4rem;
  }

  .languages > * {
    display: block;
    margin: 0 0 4rem;

    code::before {
      color: $blue-dark;
      content: attr(data-lang);
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      left: 0;
      position: absolute;
      text-transform: uppercase;
      top: -3rem;
    }
  }
}

.platform-picker {
  button::after {
    display: none;
  }
}
