{{ $uniqueness := .Get 0 }}
{{ $uniqueness := replace $uniqueness " " "-" }}
{{ $uniqueness := replace $uniqueness "/" "_" }}

<script>
    // I've heard that .stopPropogation() is not ideal, potentially needs a rework
    $( document ).ready(function() {
        $('.platformButtonTitle-{{ $uniqueness }}').click( function(event){
            event.stopPropagation();
            $('.hiddenPlatforms-{{ $uniqueness }}').toggle();
        });
        $(document).click( function(){
            $('.hiddenPlatforms-{{ $uniqueness }}').hide();
        });

        var $platformTextInsert = document.getElementById("platformButtonTitleText-{{ $uniqueness }}");
        if (Cookies.get("platform")) {
          $platformTextInsert.innerHTML = Cookies.get("platform") + '<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i>';
        }
    });

    function setPlatformCookie(platform) {
      if (platform === "All Platforms") {
        Cookies.remove('platform');
      } else {
        Cookies.set('platform', platform, { expires: 2030 });
      }
    }
</script>

<div class="platformHolder">
    <div id="platformButton-{{ $uniqueness }}">
        <a class="platformButtonTitle-{{ $uniqueness }}" id="platformButtonTitleText-{{ $uniqueness }}">All Platforms<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
        <div class="hiddenPlatforms-{{ $uniqueness }}" style="display: none;">
            <ul class="hiddenItems-{{ $uniqueness }}">
                {{ $product := .Section }}
                {{ $product2 := replace $product "-" "_" }}
                {{ $product_info := (index .Site.Params.products $product2) }}
                {{ if $product_info.versions }}
                    {{ if isset $product_info.versions .Params.version }}
                        {{ range (index $product_info.versions .Params.version) }}
                            {{ $platform := . }}
                            {{ $title2 := replace $.Title " " "-" }}
                            {{ $title2 := lower $title2 }}
                            <li class="hiddenItem-{{ $uniqueness }}"><a onClick="setPlatformCookie('{{ $platform }}')" href="/{{ $product }}/{{ $.Params.version }}/{{ $title2 }}">{{ $platform }}</a></li>
                        {{ end }}
                    {{ end }}
                {{end}}
            </ul>
        </div>
    </div>
</div>
