{{ $uniqueness := .Get 0 }}
{{ $uniqueness := replace $uniqueness " " "-" }}
{{ $uniqueness := replace $uniqueness "/" "_" }}

{{ $product := .Get 1 }}

{{ $version := .Get 2 }}

{{ $title := .Get 3 }}

<style>
.platformHolder-{{ $uniqueness }} {
    margin-top: 5px;
    height: 30px;
    padding-top: 5px;
}

#platformButton-{{ $uniqueness }} {
    pointer: cursor;
    position: absolute;
    margin-left: 0;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: #e7e7e7;
}

#platformButton-{{ $uniqueness }} a {
    color: rgb(90, 90, 90);
    border-bottom: none;
    padding: 5px;
}

#platformButton-{{ $uniqueness }} {
    width: 200px;
}

#platformButton-{{ $uniqueness }} a {
    display: block;
}

#platformButton-{{ $uniqueness }} li {
    margin-top: 0;
}

.hiddenPlatforms-{{ $uniqueness }} {
    font-weight: normal;
    z-index: 100;
    background-color: #e7e7e7;
}

.hiddenItems-{{ $uniqueness }} {
    margin-top: 0 !important;
    border-radius: 3px;
}
</style>

<script>
    // I've heard that .stopPropogation() is not ideal, potentially needs a rework
    $( document ).ready(function() {
        $('.platformButtonTitle-{{ $uniqueness }}').click( function(event){
            event.stopPropagation();
            $('.hiddenPlatforms-{{ $uniqueness }}').toggle();
        });
        $(document).click( function(){
            $('.hiddenPlatforms-{{ $uniqueness }}').hide();
        });

        var $platformTextInsert = document.getElementById("platformButtonTitleText-{{ $uniqueness }}");
        if (Cookies.get("platform")) {
          $platformTextInsert.innerHTML = Cookies.get("platform") + '<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i>';
        }
    });

    function setPlatformCookie(platform) {
      if (platform === "All Platforms") {
        Cookies.remove('platform');
      } else {
        Cookies.set('platform', platform, { expires: 2030 });
      }
    }
</script>

<div class="platformHolder-{{ $uniqueness }}">
    <div id="platformButton-{{ $uniqueness }}">
        <a class="platformButtonTitle-{{ $uniqueness }}" id="platformButtonTitleText-{{ $uniqueness }}">All Platforms<i class="fa fa-chevron-down dropdownArrow" aria-hidden="true"></i></a>
        <div class="hiddenPlatforms-{{ $uniqueness }}" style="display: none;">
            <ul class="hiddenItems-{{ $uniqueness }}">
                {{ $product2 := lower $product }}
                {{ $product3 := replace $product2 "-" "_" }}
                {{ $product_info := (index .Site.Params.products $product3) }}
                {{ range (index $product_info.versions $version) }}
                    {{ $platform := . }}
                    {{ $title2 := replace $title " " "-" }}
                    {{ $title2 := lower $title2 }}
                    <li class="hiddenItem"><a onClick="setPlatformCookie('{{ $platform }}')" href="/{{ $product2 }}/{{ $version }}/{{ $title2 }}">{{ $platform }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
