{{ $id := .Get 0 }}
{{ $id := replace $id "/" "-" }}
<script>
$cookie = Cookies.get("platform").toLowerCase();
$cookie = $cookie.replace("/", "-");

if (!$("#{{ $id }}").parent().hasClass("platform") || ($("#{{ $id }}").parent().hasClass("platform") && ($cookie == {{ $id }}))) {
  $( document ).ready(function() {
    var waypoint = new Waypoint({
      element: document.getElementById('{{ $id }}'),
      handler: function() {
        window.history.pushState("", "", "#{{ $id }}");
      },
      offset: 10
    });
  });
}
</script>
